In [1]:
import pandas as pd
import numpy as np
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
from pandas.api.types import is_integer_dtype

In [2]:

fresh_ethnic_publicHS = pd.read_csv("/Users/susanlieu/Documents/LIS590OMO/Data/UC/CA_public_HS.csv")
fresh_ethnic_privateHS = pd.read_csv("/Users/susanlieu/Documents/LIS590OMO/Data/UC/CA_private_HS.csv")

counties_from_census = pd.read_csv("/Users/susanlieu/Documents/LIS590OMO/Data/ca_demo.csv")

CA_ethnic_HS_frames = [fresh_ethnic_publicHS, fresh_ethnic_privateHS]
# join the two csv files into one dataframe
CA_HS_ethnic = pd.concat(CA_ethnic_HS_frames)

In [3]:
fresh_ethnic_publicHS.shape

(3683, 13)

In [4]:
fresh_ethnic_privateHS.shape

(913, 13)

In [5]:
CA_HS_ethnic.shape

(4596, 13)

In [6]:
print(CA_HS_ethnic["County/State/ Territory"].unique())

['San Bernardino' 'Los Angeles' 'San Francisco' 'Santa Clara' 'Humboldt'
 'Contra Costa' 'Ventura' 'Alameda' 'Monterey' 'Orange' 'Santa Barbara'
 'Amador' 'Napa' 'San Joaquin' 'Sonoma' 'Shasta' 'Mendocino' 'Solano'
 'Sacramento' 'San Benito' 'Santa Cruz' 'San Mateo' 'Riverside'
 'San Luis Obispo' 'Kern' 'Merced' 'Kings' 'Nevada' 'Inyo' 'San Diego'
 'Imperial' 'Calaveras' 'Fresno' 'Stanislaus' 'El Dorado' 'Butte' 'Madera'
 'Lake' 'Placer' 'Colusa' 'Yolo' 'Del Norte' 'Tulare' 'Sutter' 'Siskiyou'
 'Glenn' 'Lassen' 'Mono' 'Yuba' 'Mariposa' 'Modoc' 'Marin' 'Plumas'
 'Tehama' 'Tuolumne' 'Trinity']

In [7]:
CA_HS_ethnic.tail()

,Calculation1,School,City,County/State/ Territory,Count,All,African American,American Indian,Hispanic/ Latino,Asian,White,Domestic Unknown,Inter- national
908,YORK SCHOOL52053,YORK SCHOOL,Monterey,Monterey,App,32,NaN,NaN,NaN,9.0,16.0,NaN,NaN
909,YORK SCHOOL52053,YORK SCHOOL,Monterey,Monterey,Adm,22,NaN,NaN,NaN,7.0,9.0,NaN,NaN
910,YORK SCHOOL52053,YORK SCHOOL,Monterey,Monterey,Enr,13,NaN,NaN,NaN,5.0,6.0,NaN,NaN
911,YULA BOYS HIGH SCHOOL51841,YULA BOYS HIGH SCHOOL,Los Angeles,Los Angeles,App,8,NaN,NaN,NaN,NaN,5.0,NaN,NaN
912,YULA BOYS HIGH SCHOOL51841,YULA BOYS HIGH SCHOOL,Los Angeles,Los Angeles,Adm,5,NaN,NaN,NaN,NaN,3.0,NaN,NaN

In [8]:
# order by County then Count
#,ascending=False).groupby('job')

CA_HS_ethnic = CA_HS_ethnic.sort_values(["County/State/ Territory", "Count"])

In [9]:
# dataframe to get only applicants for each county


app_only = CA_HS_ethnic[(CA_HS_ethnic["Count"] == "App")]
app_only.head()

,Calculation1,School,City,County/State/ Territory,Count,All,African American,American Indian,Hispanic/ Latino,Asian,White,Domestic Unknown,Inter- national
66,ALAMEDA COMMUNITY LEARNING CTR50011,ALAMEDA COMMUNITY LEARNING CTR,Alameda,Alameda,App,25,NaN,NaN,5.0,9.0,7.0,NaN,NaN
69,ALAMEDA HIGH SCHOOL50005,ALAMEDA HIGH SCHOOL,Alameda,Alameda,App,210,14.0,NaN,12.0,124.0,50.0,6.0,NaN
72,ALAMEDA SCIENCE & TECHLGY INST50029,ALAMEDA SCIENCE & TECHLGY INST,Alameda,Alameda,App,38,NaN,NaN,6.0,26.0,NaN,NaN,NaN
75,ALBANY HIGH SCHOOL50035,ALBANY HIGH SCHOOL,Albany,Alameda,App,142,9.0,NaN,19.0,60.0,49.0,NaN,NaN
150,AMADOR VALLEY HIGH SCHOOL52495,AMADOR VALLEY HIGH SCHOOL,Pleasanton,Alameda,App,297,6.0,NaN,26.0,153.0,87.0,NaN,5.0

In [10]:
#get Applicant count for each ethnicity

app_White = app_only.sort_values(["County/State/ Territory","White"]).groupby("County/State/ Territory").agg({"White":sum})
app_White.reset_index(level=0, inplace=True)
app_Black = app_only.sort_values(["County/State/ Territory","African American"]).groupby("County/State/ Territory").agg({"African American":sum})
app_Black.reset_index(level=0, inplace=True)
app_Native_American = app_only.sort_values(["County/State/ Territory","American Indian"]).groupby("County/State/ Territory").agg({"American Indian":sum})
app_Native_American.reset_index(level=0, inplace=True)                         
app_Latinx = app_only.sort_values(["County/State/ Territory","Hispanic/ Latino"]).groupby("County/State/ Territory").agg({"Hispanic/ Latino":sum})
app_Latinx.reset_index(level=0, inplace=True)
app_Asian = app_only.sort_values(["County/State/ Territory","Asian"]).groupby("County/State/ Territory").agg({"Asian":sum})
app_Asian.reset_index(level=0, inplace=True)
app_other = app_only.sort_values(["County/State/ Territory","Domestic Unknown"]).groupby("County/State/ Territory").agg({"Domestic Unknown":sum})
app_other.reset_index(level=0, inplace=True)

In [11]:
# dataframe to get Admit count for each county
adm_only = CA_HS_ethnic[(CA_HS_ethnic["Count"] == "Adm")]
adm_only.head()

,Calculation1,School,City,County/State/ Territory,Count,All,African American,American Indian,Hispanic/ Latino,Asian,White,Domestic Unknown,Inter- national
67,ALAMEDA COMMUNITY LEARNING CTR50011,ALAMEDA COMMUNITY LEARNING CTR,Alameda,Alameda,Adm,21,NaN,NaN,4.0,8.0,6.0,NaN,NaN
70,ALAMEDA HIGH SCHOOL50005,ALAMEDA HIGH SCHOOL,Alameda,Alameda,Adm,161,8.0,NaN,8.0,100.0,37.0,4.0,NaN
73,ALAMEDA SCIENCE & TECHLGY INST50029,ALAMEDA SCIENCE & TECHLGY INST,Alameda,Alameda,Adm,26,NaN,NaN,4.0,18.0,NaN,NaN,NaN
76,ALBANY HIGH SCHOOL50035,ALBANY HIGH SCHOOL,Albany,Alameda,Adm,102,5.0,NaN,9.0,48.0,36.0,NaN,NaN
151,AMADOR VALLEY HIGH SCHOOL52495,AMADOR VALLEY HIGH SCHOOL,Pleasanton,Alameda,Adm,212,NaN,NaN,16.0,123.0,50.0,NaN,4.0

In [12]:
# Get admit count for each ethnicity

adm_White = adm_only.sort_values(["County/State/ Territory","White"]).groupby("County/State/ Territory").agg({"White":sum})
adm_White.reset_index(level=0, inplace=True)
adm_Black = adm_only.sort_values(["County/State/ Territory","African American"]).groupby("County/State/ Territory").agg({"African American":sum})
adm_Black.reset_index(level=0, inplace=True)
adm_Native_American = adm_only.sort_values(["County/State/ Territory","American Indian"]).groupby("County/State/ Territory").agg({"American Indian":sum})
adm_Native_American.reset_index(level=0, inplace=True)
adm_Latinx = adm_only.sort_values(["County/State/ Territory","Hispanic/ Latino"]).groupby("County/State/ Territory").agg({"Hispanic/ Latino":sum})
adm_Latinx.reset_index(level=0, inplace=True)
adm_Asian = adm_only.sort_values(["County/State/ Territory","Asian"]).groupby("County/State/ Territory").agg({"Asian":sum})
adm_Asian.reset_index(level=0, inplace=True)
adm_other = adm_only.sort_values(["County/State/ Territory","Domestic Unknown"]).groupby("County/State/ Territory").agg({"Domestic Unknown":sum})
adm_other.reset_index(level=0, inplace=True)

In [13]:
# get full county list from US census
counties = counties_from_census["County"]


# Put Applicants and Admits count into one dataframe for each ethnicity
white = pd.merge(app_White, adm_White, how='outer', on='County/State/ Territory')
white = white.rename(columns={"County/State/ Territory":"County","White_x":"White Applicants", "White_y":"White Admits"})

black = pd.merge(app_Black, adm_Black, how='outer', on='County/State/ Territory')
black = black.rename(columns={"County/State/ Territory":"County","African American_x":"Black Applicants", "African American_y":"Black Admits"})

native = pd.merge(app_Native_American, adm_Native_American, how='outer', on='County/State/ Territory')
native = native.rename(columns={"County/State/ Territory":"County","American Indian_x":"Native American Applicants", "American Indian_y":"Native American Admits"})

latinx  = pd.merge(app_Latinx, adm_Latinx, how='outer', on='County/State/ Territory')
latinx = latinx.rename(columns={"County/State/ Territory":"County","Hispanic/ Latino_x":"Hispanic/Latino Applicants", "Hispanic/ Latino_y":"Hispanic/Latino Admits"})

asian  = pd.merge(app_Asian, adm_Asian, how='outer', on='County/State/ Territory')
asian = asian.rename(columns={"County/State/ Territory":"County","Asian_x":"Asian Applicants", "Asian_y":"Asian Admits"})

other  = pd.merge(app_other, adm_other, how='outer', on='County/State/ Territory')
other = other.rename(columns={"County/State/ Territory":"County","Domestic Unknown_x":"Other Applicants", "Domestic Unknown_y":"Other Admits"})

In [14]:
# merge all ethnicity's dataframes into one dataframe, using the full counties list from US census
appl_adm_per_county = pd.DataFrame(counties)

#df1.merge(df2, how='outer').merge(df3, how='outer').merge(df4, how='outer')
appl_adm_per_county = appl_adm_per_county.merge(white, how="outer", on="County").merge(black, how="outer", on="County").merge(native, how="outer", on="County").merge(latinx, how="outer", on="County").merge(asian, how="outer", on="County").merge(other, how="outer", on="County")
appl_adm_per_county

,County,White Applicants,White Admits,Black Applicants,Black Admits,Native American Applicants,Native American Admits,Hispanic/Latino Applicants,Hispanic/Latino Admits,Asian Applicants,Asian Admits,Other Applicants,Other Admits
0,Alameda,1166.0,809.0,449.0,218.0,0.0,0.0,1020.0,583.0,2790.0,2135.0,66.0,54.0
1,Alpine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Amador,15.0,10.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,3.0,0.0,0.0
3,Butte,103.0,56.0,0.0,0.0,0.0,0.0,24.0,13.0,30.0,21.0,0.0,0.0
4,Calaveras,23.0,17.0,0.0,0.0,0.0,0.0,7.0,7.0,0.0,0.0,0.0,0.0
5,Colusa,5.0,3.0,0.0,0.0,0.0,0.0,21.0,14.0,0.0,0.0,0.0,0.0
6,Contra Costa,1203.0,763.0,209.0,105.0,0.0,0.0,693.0,412.0,1251.0,912.0,32.0,52.0
7,Del Norte,7.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,El Dorado,217.0,126.0,7.0,3.0,0.0,3.0,46.0,28.0,76.0,57.0,0.0,5.0
9,Fresno,291.0,202.0,79.0,43.0,0.0,0.0,783.0,463.0,437.0,309.0,7.0,3.0
10,Glenn,0.0,3.0,0.0,0.0,0.0,0.0,10.0,8.0,0.0,0.0,0.0,0.0
11,Humboldt,91.0,67.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,7.0,0.0,0.0
12,Imperial,6.0,8.0,0.0,0.0,0.0,0.0,252.0,192.0,5.0,7.0,0.0,0.0
13,Inyo,10.0,6.0,0.0,0.0,0.0,0.0,9.0,3.0,0.0,0.0,0.0,0.0
14,Kern,200.0,115.0,42.0,22.0,0.0,0.0,763.0,481.0,159.0,136.0,0.0,0.0
15,Kings,17.0,12.0,0.0,0.0,0.0,0.0,79.0,44.0,28.0,19.0,0.0,0.0
16,Lake,30.0,16.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0
17,Lassen,6.0,4.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
18,Los Angeles,5033.0,3265.0,1940.0,862.0,0.0,3.0,15514.0,7573.0,7637.0,5541.0,263.0,171.0
19,Madera,43.0,23.0,0.0,3.0,0.0,0.0,131.0,86.0,20.0,16.0,5.0,0.0
20,Marin,590.0,362.0,15.0,8.0,0.0,0.0,123.0,55.0,135.0,87.0,14.0,5.0
21,Mariposa,13.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,Mendocino,47.0,25.0,0.0,0.0,0.0,0.0,22.0,15.0,6.0,4.0,0.0,0.0
23,Merced,61.0,49.0,12.0,11.0,0.0,0.0,400.0,278.0,109.0,97.0,0.0,0.0
24,Modoc,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,Mono,6.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,Monterey,192.0,118.0,21.0,11.0,0.0,0.0,504.0,208.0,150.0,94.0,0.0,0.0
27,Napa,164.0,105.0,9.0,6.0,0.0,0.0,113.0,48.0,56.0,39.0,0.0,0.0
28,Nevada,73.0,55.0,0.0,0.0,0.0,0.0,11.0,7.0,0.0,3.0,0.0,0.0
29,Orange,2880.0,1667.0,172.0,114.0,0.0,9.0,3212.0,1644.0,4314.0,3190.0,79.0,76.0
30,Placer,470.0,282.0,36.0,19.0,5.0,5.0,134.0,73.0,223.0,156.0,10.0,4.0
31,Plumas,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
32,Riverside,1071.0,717.0,513.0,271.0,5.0,6.0,3568.0,2057.0,907.0,683.0,41.0,26.0
33,Sacramento,807.0,490.0,315.0,176.0,0.0,3.0,605.0,359.0,1166.0,826.0,29.0,25.0
34,San Benito,18.0,10.0,0.0,0.0,0.0,0.0,54.0,30.0,8.0,7.0,0.0,0.0
35,San Bernardino,577.0,402.0,447.0,231.0,0.0,0.0,2891.0,1703.0,809.0,667.0,56.0,36.0
36,San Diego,2877.0,1852.0,547.0,265.0,13.0,18.0,3340.0,1894.0,2220.0,1650.0,116.0,63.0
37,San Francisco,570.0,382.0,124.0,60.0,0.0,0.0,364.0,194.0,1604.0,1061.0,62.0,62.0
38,San Joaquin,208.0,131.0,59.0,28.0,0.0,0.0,473.0,276.0,500.0,368.0,0.0,0.0
39,San Luis Obispo,269.0,154.0,0.0,0.0,0.0,3.0,114.0,52.0,22.0,21.0,0.0,0.0
40,San Mateo,867.0,529.0,16.0,6.0,0.0,4.0,574.0,322.0,932.0,657.0,52.0,39.0
41,Santa Barbara,343.0,233.0,10.0,3.0,0.0,3.0,421.0,238.0,95.0,74.0,0.0,10.0
42,Santa Clara,1754.0,1094.0,127.0,76.0,0.0,3.0,1215.0,665.0,4475.0,3401.0,170.0,139.0
43,Santa Cruz,278.0,167.0,0.0,0.0,0.0,0.0,231.0,124.0,54.0,33.0,5.0,3.0
44,Shasta,94.0,52.0,0.0,0.0,0.0,0.0,22.0,16.0,19.0,12.0,0.0,0.0
45,Sierra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Siskiyou,16.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,Solano,179.0,122.0,54.0,22.0,0.0,0.0,205.0,128.0,256.0,162.0,0.0,0.0
48,Sonoma,438.0,256.0,7.0,0.0,0.0,0.0,276.0,135.0,112.0,78.0,0.0,6.0
49,Stanislaus,219.0,169.0,7.0,10.0,0.0,3.0,437.0,274.0,138.0,111.0,0.0,7.0
50,Sutter,21.0,17.0,0.0,0.0,0.0,0.0,53.0,32.0,60.0,44.0,0.0,0.0
51,Tehama,13.0,6.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0
52,Trinity,7.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,Tulare,92.0,74.0,0.0,0.0,0.0,0.0,449.0,265.0,36.0,40.0,0.0,0.0
54,Tuolumne,25.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
55,Ventura,852.0,501.0,31.0,19.0,8.0,7.0,793.0,405.0,510.0,382.0,15.0,11.0
56,Yolo,246.0,169.0,13.0,9.0,0.0,0.0,134.0,75.0,149.0,107.0,8.0,0.0
57,Yuba,13.0,7.0,0.0,0.0,0.0,0.0,23.0,13.0,0.0,0.0,0.0,0.0

In [15]:
# calculate each ethnicity's admittance rate

appl_adm_per_county["White Admit Rate"] = (appl_adm_per_county["White Admits"] / appl_adm_per_county["White Applicants"])*100
appl_adm_per_county["White Admit Rate"] = round(appl_adm_per_county["White Admit Rate"],2)


appl_adm_per_county["Black Admit Rate"] = (appl_adm_per_county["Black Admits"] / appl_adm_per_county["Black Applicants"])*100
appl_adm_per_county["Black Admit Rate"] = round(appl_adm_per_county["Black Admit Rate"],2)

appl_adm_per_county["Native American Admit Rate"] = (appl_adm_per_county["Native American Admits"] / appl_adm_per_county["Native American Applicants"])*100
appl_adm_per_county["Native American Admit Rate"] = round(appl_adm_per_county["Native American Admit Rate"],2)

appl_adm_per_county["Hispanic/Latino Admit Rate"] = (appl_adm_per_county["Hispanic/Latino Admits"] / appl_adm_per_county["Hispanic/Latino Applicants"])*100
appl_adm_per_county["Hispanic/Latino Admit Rate"] = round(appl_adm_per_county["Hispanic/Latino Admit Rate"],2)

appl_adm_per_county["Asian Admit Rate"] = (appl_adm_per_county["Asian Admits"] / appl_adm_per_county["Asian Applicants"])*100
appl_adm_per_county["Asian Admit Rate"] = round(appl_adm_per_county["Asian Admit Rate"],2)

appl_adm_per_county["Other Admit Rate"] = (appl_adm_per_county["Other Admits"] / appl_adm_per_county["Other Applicants"])*100
appl_adm_per_county["Other Admit Rate"] = round(appl_adm_per_county["Other Admit Rate"],2)

In [16]:
# get columns as a list

cols = appl_adm_per_county.columns.tolist()
cols

['County',
 'White Applicants',
 'White Admits',
 'Black Applicants',
 'Black Admits',
 'Native American Applicants',
 'Native American Admits',
 'Hispanic/Latino Applicants',
 'Hispanic/Latino Admits',
 'Asian Applicants',
 'Asian Admits',
 'Other Applicants',
 'Other Admits',
 'White Admit Rate',
 'Black Admit Rate',
 'Native American Admit Rate',
 'Hispanic/Latino Admit Rate',
 'Asian Admit Rate',
 'Other Admit Rate']

In [17]:
appl_adm_per_county.shape

(58, 19)

In [18]:
# place admit rate after each ethnicity's applicants and admits columns

cols.insert(13, cols.pop(cols.index("Other Admit Rate")))
cols.insert(11, cols.pop(cols.index("Asian Admit Rate")))
cols.insert(9, cols.pop(cols.index("Hispanic/Latino Admit Rate")))
cols.insert(7, cols.pop(cols.index("Native American Admit Rate")))
cols.insert(5, cols.pop(cols.index("Black Admit Rate")))
cols.insert(3, cols.pop(cols.index("White Admit Rate")))

appl_adm_per_county = appl_adm_per_county.reindex(columns= cols)

In [19]:
appl_adm_per_county

,County,White Applicants,White Admits,White Admit Rate,Black Applicants,Black Admits,Black Admit Rate,Native American Applicants,Native American Admits,Native American Admit Rate,Hispanic/Latino Applicants,Hispanic/Latino Admits,Hispanic/Latino Admit Rate,Asian Applicants,Asian Admits,Asian Admit Rate,Other Applicants,Other Admits,Other Admit Rate
0,Alameda,1166.0,809.0,69.380000,449.0,218.0,48.550000,0.0,0.0,NaN,1020.0,583.0,57.160000,2790.0,2135.0,76.520000,66.0,54.0,81.820000
1,Alpine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Amador,15.0,10.0,66.670000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,4.0,inf,0.0,3.0,inf,0.0,0.0,NaN
3,Butte,103.0,56.0,54.370000,0.0,0.0,NaN,0.0,0.0,NaN,24.0,13.0,54.170000,30.0,21.0,70.000000,0.0,0.0,NaN
4,Calaveras,23.0,17.0,73.910000,0.0,0.0,NaN,0.0,0.0,NaN,7.0,7.0,100.000000,0.0,0.0,NaN,0.0,0.0,NaN
5,Colusa,5.0,3.0,60.000000,0.0,0.0,NaN,0.0,0.0,NaN,21.0,14.0,66.670000,0.0,0.0,NaN,0.0,0.0,NaN
6,Contra Costa,1203.0,763.0,63.420000,209.0,105.0,50.240000,0.0,0.0,NaN,693.0,412.0,59.450000,1251.0,912.0,72.900000,32.0,52.0,162.500000
7,Del Norte,7.0,6.0,85.710000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
8,El Dorado,217.0,126.0,58.060000,7.0,3.0,42.860000,0.0,3.0,inf,46.0,28.0,60.870000,76.0,57.0,75.000000,0.0,5.0,inf
9,Fresno,291.0,202.0,69.420000,79.0,43.0,54.430000,0.0,0.0,NaN,783.0,463.0,59.130000,437.0,309.0,70.710000,7.0,3.0,42.860000
10,Glenn,0.0,3.0,inf,0.0,0.0,NaN,0.0,0.0,NaN,10.0,8.0,80.000000,0.0,0.0,NaN,0.0,0.0,NaN
11,Humboldt,91.0,67.0,73.630000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,6.0,inf,0.0,7.0,inf,0.0,0.0,NaN
12,Imperial,6.0,8.0,133.330000,0.0,0.0,NaN,0.0,0.0,NaN,252.0,192.0,76.190000,5.0,7.0,140.000000,0.0,0.0,NaN
13,Inyo,10.0,6.0,60.000000,0.0,0.0,NaN,0.0,0.0,NaN,9.0,3.0,33.330000,0.0,0.0,NaN,0.0,0.0,NaN
14,Kern,200.0,115.0,57.500000,42.0,22.0,52.380000,0.0,0.0,NaN,763.0,481.0,63.040000,159.0,136.0,85.530000,0.0,0.0,NaN
15,Kings,17.0,12.0,70.590000,0.0,0.0,NaN,0.0,0.0,NaN,79.0,44.0,55.700000,28.0,19.0,67.860000,0.0,0.0,NaN
16,Lake,30.0,16.0,53.330000,0.0,0.0,NaN,0.0,0.0,NaN,11.0,0.0,0.000000,0.0,0.0,NaN,0.0,0.0,NaN
17,Lassen,6.0,4.0,66.670000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,3.0,inf,0.0,0.0,NaN,0.0,0.0,NaN
18,Los Angeles,5033.0,3265.0,64.870000,1940.0,862.0,44.430000,0.0,3.0,inf,15514.0,7573.0,48.810000,7637.0,5541.0,72.550000,263.0,171.0,65.020000
19,Madera,43.0,23.0,53.490000,0.0,3.0,inf,0.0,0.0,NaN,131.0,86.0,65.650000,20.0,16.0,80.000000,5.0,0.0,0.000000
20,Marin,590.0,362.0,61.360000,15.0,8.0,53.330000,0.0,0.0,NaN,123.0,55.0,44.720000,135.0,87.0,64.440000,14.0,5.0,35.710000
21,Mariposa,13.0,12.0,92.310000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
22,Mendocino,47.0,25.0,53.190000,0.0,0.0,NaN,0.0,0.0,NaN,22.0,15.0,68.180000,6.0,4.0,66.670000,0.0,0.0,NaN
23,Merced,61.0,49.0,80.330000,12.0,11.0,91.670000,0.0,0.0,NaN,400.0,278.0,69.500000,109.0,97.0,88.990000,0.0,0.0,NaN
24,Modoc,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
25,Mono,6.0,3.0,50.000000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
26,Monterey,192.0,118.0,61.460000,21.0,11.0,52.380000,0.0,0.0,NaN,504.0,208.0,41.270000,150.0,94.0,62.670000,0.0,0.0,NaN
27,Napa,164.0,105.0,64.020000,9.0,6.0,66.670000,0.0,0.0,NaN,113.0,48.0,42.480000,56.0,39.0,69.640000,0.0,0.0,NaN
28,Nevada,73.0,55.0,75.340000,0.0,0.0,NaN,0.0,0.0,NaN,11.0,7.0,63.640000,0.0,3.0,inf,0.0,0.0,NaN
29,Orange,2880.0,1667.0,57.880000,172.0,114.0,66.280000,0.0,9.0,inf,3212.0,1644.0,51.180000,4314.0,3190.0,73.950000,79.0,76.0,96.200000
30,Placer,470.0,282.0,60.000000,36.0,19.0,52.780000,5.0,5.0,100.000000,134.0,73.0,54.480000,223.0,156.0,69.960000,10.0,4.0,40.000000
31,Plumas,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN
32,Riverside,1071.0,717.0,66.950000,513.0,271.0,52.830000,5.0,6.0,120.000000,3568.0,2057.0,57.650000,907.0,683.0,75.300000,41.0,26.0,63.410000
33,Sacramento,807.0,490.0,60.720000,315.0,176.0,55.870000,0.0,3.0,inf,605.0,359.0,59.340000,1166.0,826.0,70.840000,29.0,25.0,86.210000
34,San Benito,18.0,10.0,55.560000,0.0,0.0,NaN,0.0,0.0,NaN,54.0,30.0,55.560000,8.0,7.0,87.500000,0.0,0.0,NaN
35,San Bernardino,577.0,402.0,69.670000,447.0,231.0,51.680000,0.0,0.0,NaN,2891.0,1703.0,58.910000,809.0,667.0,82.450000,56.0,36.0,64.290000
36,San Diego,2877.0,1852.0,64.370000,547.0,265.0,48.450000,13.0,18.0,138.460000,3340.0,1894.0,56.710000,2220.0,1650.0,74.320000,116.0,63.0,54.310000
37,San Francisco,570.0,382.0,67.020000,124.0,60.0,48.390000,0.0,0.0,NaN,364.0,194.0,53.300000,1604.0,1061.0,66.150000,62.0,62.0,100.000000
38,San Joaquin,208.0,131.0,62.980000,59.0,28.0,47.460000,0.0,0.0,NaN,473.0,276.0,58.350000,500.0,368.0,73.600000,0.0,0.0,NaN
39,San Luis Obispo,269.0,154.0,57.250000,0.0,0.0,NaN,0.0,3.0,inf,114.0,52.0,45.610000,22.0,21.0,95.450000,0.0,0.0,NaN
40,San Mateo,867.0,529.0,61.010000,16.0,6.0,37.500000,0.0,4.0,inf,574.0,322.0,56.100000,932.0,657.0,70.490000,52.0,39.0,75.000000
41,Santa Barbara,343.0,233.0,67.930000,10.0,3.0,30.000000,0.0,3.0,inf,421.0,238.0,56.530000,95.0,74.0,77.890000,0.0,10.0,inf
42,Santa Clara,1754.0,1094.0,62.370000,127.0,76.0,59.840000,0.0,3.0,inf,1215.0,665.0,54.730000,4475.0,3401.0,76.000000,170.0,139.0,81.760000
43,Santa Cruz,278.0,167.0,60.070000,0.0,0.0,NaN,0.0,0.0,NaN,231.0,124.0,53.680000,54.0,33.0,61.110000,5.0,3.0,60.000000
44,Shasta,94.0,52.0,55.320000,0.0,0.0,NaN,0.0,0.0,NaN,22.0,16.0,72.730000,19.0,12.0,63.160000,0.0,0.0,NaN
45,Sierra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Siskiyou,16.0,8.0,50.000000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
47,Solano,179.0,122.0,68.160000,54.0,22.0,40.740000,0.0,0.0,NaN,205.0,128.0,62.440000,256.0,162.0,63.280000,0.0,0.0,NaN
48,Sonoma,438.0,256.0,58.450000,7.0,0.0,0.000000,0.0,0.0,NaN,276.0,135.0,48.910000,112.0,78.0,69.640000,0.0,6.0,inf
49,Stanislaus,219.0,169.0,77.170000,7.0,10.0,142.860000,0.0,3.0,inf,437.0,274.0,62.700000,138.0,111.0,80.430000,0.0,7.0,inf
50,Sutter,21.0,17.0,80.950000,0.0,0.0,NaN,0.0,0.0,NaN,53.0,32.0,60.380000,60.0,44.0,73.330000,0.0,0.0,NaN
51,Tehama,13.0,6.0,46.150000,0.0,0.0,NaN,0.0,0.0,NaN,6.0,0.0,0.000000,0.0,0.0,NaN,0.0,0.0,NaN
52,Trinity,7.0,4.0,57.140000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
53,Tulare,92.0,74.0,80.430000,0.0,0.0,NaN,0.0,0.0,NaN,449.0,265.0,59.020000,36.0,40.0,111.110000,0.0,0.0,NaN
54,Tuolumne,25.0,18.0,72.000000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,3.0,inf,0.0,0.0,NaN
55,Ventura,852.0,501.0,58.800000,31.0,19.0,61.290000,8.0,7.0,87.500000,793.0,405.0,51.070000,510.0,382.0,74.900000,15.0,11.0,73.330000
56,Yolo,246.0,169.0,68.700000,13.0,9.0,69.230000,0.0,0.0,NaN,134.0,75.0,55.970000,149.0,107.0,71.810000,8.0,0.0,0.000000
57,Yuba,13.0,7.0,53.850000,0.0,0.0,NaN,0.0,0.0,NaN,23.0,13.0,56.520000,0.0,0.0,NaN,0.0,0.0,NaN

In [20]:
appl_adm_per_county.to_csv(r"/Users/susanlieu/Documents/LIS590OMO/Data/CA_HS_ethnic.csv", sep=",", encoding="utf-8")