### A look at the demographics of students who applied and were admitted to an University of California campus in 2017.

**This final dataset is a merger of three dataframes:**

    1) A 2017 US Census data for California counties that provides information on population, the level of education
    attained, median household income, and percentage of children under 18 in poverty.
    2) The second dataframe is a merging of California public and private high schools that breaksdown how many
    kids applied, were admitted and enrolled in an University of Calfornia in 2017 by per each ethnic group (White,
    African American, Native American, Latino, Asian, and others. For the final dataset, only applicants 
    and admittance were examined.
    3) A 2017 breakdown of the average application GPAs per school by counties.

In [1]:
import re
import numpy as np
import pandas as pd

In [2]:
CA_demograph = pd.read_csv("/Users/susanlieu/Documents/LIS590OMO/Data/ca_demo.csv", index_col=[0])
CA_HS_demograph = pd.read_csv("/Users/susanlieu/Documents/LIS590OMO/Data/CA_HS_ethnic.csv", index_col=[0])
CA_GPA = pd.read_csv("/Users/susanlieu/Documents/LIS590OMO/Data/gpa.csv", index_col=[0])

<font color=blue>**Joined the California counties census data with the California high schools data on "County".**</font>

In [3]:
UC_demograph = CA_demograph.merge(CA_HS_demograph, on="County", how="left")
UC_demograph

,County,Total Population,Total Population: White Alone,Total Population: Black or African American Alone,Total Population: American Indian and Alaska Native Alone,Total Population: Asian Alone,Total Population: Native Hawaiian and Other Pacific Islander Alone,Total Population: Some Other Race Alone,% Total Population: White Alone,% Total Population: Black or African American Alone,...,Native American Admit Rate,Hispanic/Latino Applicants,Hispanic/Latino Admits,Hispanic/Latino Admit Rate,Asian Applicants,Asian Admits,Asian Admit Rate,Other Applicants,Other Admits,Other Admit Rate
0,Alameda,1629615,694720,180446,10152,471335,13652,155248,42.63,11.07,...,NaN,1020.0,583.0,57.160000,2790.0,2135.0,76.520000,66.0,54.0,81.820000
1,Alpine,1203,826,18,263,8,8,0,68.66,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Amador,37306,32453,796,295,582,84,1366,86.99,2.13,...,NaN,0.0,4.0,inf,0.0,3.0,inf,0.0,0.0,NaN
3,Butte,225207,185221,3372,2633,10174,424,9646,82.24,1.50,...,NaN,24.0,13.0,54.170000,30.0,21.0,70.000000,0.0,0.0,NaN
4,Calaveras,45057,41356,261,497,527,208,472,91.79,0.58,...,NaN,7.0,7.0,100.000000,0.0,0.0,NaN,0.0,0.0,NaN
5,Colusa,21479,18964,198,247,328,16,1169,88.29,0.92,...,NaN,21.0,14.0,66.670000,0.0,0.0,NaN,0.0,0.0,NaN
6,Contra Costa,1123678,658569,96345,5410,180072,5542,102876,58.61,8.57,...,NaN,693.0,412.0,59.450000,1251.0,912.0,72.900000,32.0,52.0,162.500000
7,Del Norte,27442,21073,493,2158,776,21,909,76.79,1.80,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
8,El Dorado,185015,161881,1789,1347,7864,333,5026,87.50,0.97,...,inf,46.0,28.0,60.870000,76.0,57.0,75.000000,0.0,5.0,inf
9,Fresno,971616,617322,47715,9784,97966,1947,158359,63.54,4.91,...,NaN,783.0,463.0,59.130000,437.0,309.0,70.710000,7.0,3.0,42.860000
10,Glenn,27935,23191,220,541,729,113,2542,83.02,0.79,...,NaN,10.0,8.0,80.000000,0.0,0.0,NaN,0.0,0.0,NaN
11,Humboldt,135490,109346,1609,7042,3926,418,5318,80.70,1.19,...,NaN,0.0,6.0,inf,0.0,7.0,inf,0.0,0.0,NaN
12,Imperial,179957,117188,4785,1979,2584,261,44841,65.12,2.66,...,NaN,252.0,192.0,76.190000,5.0,7.0,140.000000,0.0,0.0,NaN
13,Inyo,18195,14685,174,2093,272,34,409,80.71,0.96,...,NaN,9.0,3.0,33.330000,0.0,0.0,NaN,0.0,0.0,NaN
14,Kern,878744,660196,48078,9739,41263,1620,88403,75.13,5.47,...,NaN,763.0,481.0,63.040000,159.0,136.0,85.530000,0.0,0.0,NaN
15,Kings,150183,99117,9597,2259,5694,367,26842,66.00,6.39,...,NaN,79.0,44.0,55.700000,28.0,19.0,67.860000,0.0,0.0,NaN
16,Lake,64095,49841,1493,2201,953,33,7951,77.76,2.33,...,NaN,11.0,0.0,0.000000,0.0,0.0,NaN,0.0,0.0,NaN
17,Lassen,31470,25615,2748,968,463,219,865,81.39,8.73,...,NaN,0.0,3.0,inf,0.0,0.0,NaN,0.0,0.0,NaN
18,Los Angeles,10105722,5232835,828981,68211,1460508,27691,2101084,51.78,8.20,...,inf,15514.0,7573.0,48.810000,7637.0,5541.0,72.550000,263.0,171.0,65.020000
19,Madera,154440,118390,4938,2556,3303,224,20081,76.66,3.20,...,NaN,131.0,86.0,65.650000,20.0,16.0,80.000000,5.0,0.0,0.000000
20,Marin,260814,203898,5759,689,14912,492,22779,78.18,2.21,...,NaN,123.0,55.0,44.720000,135.0,87.0,64.440000,14.0,5.0,35.710000
21,Mariposa,17658,15715,215,467,168,56,309,89.00,1.22,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
22,Mendocino,87497,72378,620,3703,1509,186,4644,82.72,0.71,...,NaN,22.0,15.0,68.180000,6.0,4.0,66.670000,0.0,0.0,NaN
23,Merced,267390,153649,8621,1826,20224,456,70466,57.46,3.22,...,NaN,400.0,278.0,69.500000,109.0,97.0,88.990000,0.0,0.0,NaN
24,Modoc,9017,8244,65,368,105,8,31,91.43,0.72,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
25,Mono,14058,11987,74,374,280,0,940,85.27,0.53,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
26,Monterey,433168,281181,11278,2890,24867,2038,93107,64.91,2.60,...,NaN,504.0,208.0,41.270000,150.0,94.0,62.670000,0.0,0.0,NaN
27,Napa,141005,102418,2998,1236,11150,297,17573,72.63,2.13,...,NaN,113.0,48.0,42.480000,56.0,39.0,69.640000,0.0,0.0,NaN
28,Nevada,98838,91016,582,930,1123,99,1823,92.09,0.59,...,NaN,11.0,7.0,63.640000,0.0,3.0,inf,0.0,0.0,NaN
29,Orange,3155816,1960484,53262,14468,621178,9620,373605,62.12,1.69,...,inf,3212.0,1644.0,51.180000,4314.0,3190.0,73.950000,79.0,76.0,96.200000
30,Placer,374985,310295,5756,2029,25999,874,11661,82.75,1.53,...,100.000000,134.0,73.0,54.480000,223.0,156.0,69.960000,10.0,4.0,40.000000
31,Plumas,18724,16781,160,398,148,55,368,89.62,0.85,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN
32,Riverside,2355002,1450473,148960,19865,148213,6863,474855,61.59,6.33,...,120.000000,3568.0,2057.0,57.650000,907.0,683.0,75.300000,41.0,26.0,63.410000
33,Sacramento,1495400,877495,147425,10384,229441,16019,109241,58.68,9.86,...,inf,605.0,359.0,59.340000,1166.0,826.0,70.840000,29.0,25.0,86.210000
34,San Benito,58671,48136,442,426,1649,124,5181,82.04,0.75,...,NaN,54.0,30.0,55.560000,8.0,7.0,87.500000,0.0,0.0,NaN
35,San Bernardino,2121220,1312700,178674,17046,146650,6660,360213,61.88,8.42,...,NaN,2891.0,1703.0,58.910000,809.0,667.0,82.450000,56.0,36.0,64.290000
36,San Diego,3283665,2325434,164571,21064,384154,14182,207640,70.82,5.01,...,138.460000,3340.0,1894.0,56.710000,2220.0,1650.0,74.320000,116.0,63.0,54.310000
37,San Francisco,864263,408266,45654,3306,295347,3226,64800,47.24,5.28,...,NaN,364.0,194.0,53.300000,1604.0,1061.0,66.150000,62.0,62.0,100.000000
38,San Joaquin,724153,404806,50433,4304,109359,4233,80536,55.90,6.96,...,NaN,473.0,276.0,58.350000,500.0,368.0,73.600000,0.0,0.0,NaN
39,San Luis Obispo,280119,240584,5393,2041,10276,280,11804,85.89,1.93,...,inf,114.0,52.0,45.610000,22.0,21.0,95.450000,0.0,0.0,NaN
40,San Mateo,763450,397718,18577,2611,210816,10797,82231,52.09,2.43,...,inf,574.0,322.0,56.100000,932.0,657.0,70.490000,52.0,39.0,75.000000
41,Santa Barbara,442996,330827,8307,3869,23927,732,55909,74.68,1.88,...,inf,421.0,238.0,56.530000,95.0,74.0,77.890000,0.0,10.0,inf
42,Santa Clara,1911226,869630,48314,9273,671511,7438,210878,45.50,2.53,...,inf,1215.0,665.0,54.730000,4475.0,3401.0,76.000000,170.0,139.0,81.760000
43,Santa Cruz,273263,211116,2424,1507,12547,261,32786,77.26,0.89,...,NaN,231.0,124.0,53.680000,54.0,33.0,61.110000,5.0,3.0,60.000000
44,Shasta,178919,155538,2007,4404,5310,153,3711,86.93,1.12,...,NaN,22.0,16.0,72.730000,19.0,12.0,63.160000,0.0,0.0,NaN
45,Sierra,2885,2797,4,28,0,0,1,96.95,0.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Siskiyou,43530,37064,675,1511,687,161,690,85.15,1.55,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
47,Solano,434981,229351,61752,2106,66432,3818,39516,52.73,14.20,...,NaN,205.0,128.0,62.440000,256.0,162.0,63.280000,0.0,0.0,NaN
48,Sonoma,500943,377401,7848,5750,19605,1677,62101,75.34,1.57,...,NaN,276.0,135.0,48.910000,112.0,78.0,69.640000,0.0,6.0,inf
49,Stanislaus,535684,400661,15121,3789,29488,3670,59966,74.79,2.82,...,inf,437.0,274.0,62.700000,138.0,111.0,80.430000,0.0,7.0,inf
50,Sutter,95583,67211,1970,904,14565,539,4185,70.32,2.06,...,NaN,53.0,32.0,60.380000,60.0,44.0,73.330000,0.0,0.0,NaN
51,Tehama,63247,54371,379,1505,907,27,3505,85.97,0.60,...,NaN,6.0,0.0,0.000000,0.0,0.0,NaN,0.0,0.0,NaN
52,Trinity,13037,11284,104,559,161,118,416,86.55,0.80,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
53,Tulare,458809,361911,7177,5787,16081,629,52819,78.88,1.56,...,NaN,449.0,265.0,59.020000,36.0,40.0,111.110000,0.0,0.0,NaN
54,Tuolumne,53899,47181,975,931,609,155,1636,87.54,1.81,...,NaN,0.0,0.0,NaN,0.0,3.0,inf,0.0,0.0,NaN
55,Ventura,847834,677010,14805,6929,60986,1658,49513,79.85,1.75,...,87.500000,793.0,405.0,51.070000,510.0,382.0,74.900000,15.0,11.0,73.330000
56,Yolo,212605,142841,5301,1333,29138,911,19837,67.19,2.49,...,NaN,134.0,75.0,55.970000,149.0,107.0,71.810000,8.0,0.0,0.000000
57,Yuba,74644,54601,2484,1033,4823,300,5269,73.15,3.33,...,NaN,23.0,13.0,56.520000,0.0,0.0,NaN,0.0,0.0,NaN

<font color = blue>**Joined census and high school dataframe with the GPA dataframe.**</font>

In [4]:
UC_by_Counties = UC_demograph.merge(CA_GPA, on="County", how="left")

UC_by_Counties

,County,Total Population,Total Population: White Alone,Total Population: Black or African American Alone,Total Population: American Indian and Alaska Native Alone,Total Population: Asian Alone,Total Population: Native Hawaiian and Other Pacific Islander Alone,Total Population: Some Other Race Alone,% Total Population: White Alone,% Total Population: Black or African American Alone,...,Hispanic/Latino Applicants,Hispanic/Latino Admits,Hispanic/Latino Admit Rate,Asian Applicants,Asian Admits,Asian Admit Rate,Other Applicants,Other Admits,Other Admit Rate,App_GPA(avg)
0,Alameda,1629615,694720,180446,10152,471335,13652,155248,42.63,11.07,...,1020.0,583.0,57.160000,2790.0,2135.0,76.520000,66.0,54.0,81.820000,3.735009
1,Alpine,1203,826,18,263,8,8,0,68.66,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Amador,37306,32453,796,295,582,84,1366,86.99,2.13,...,0.0,4.0,inf,0.0,3.0,inf,0.0,0.0,NaN,3.950981
3,Butte,225207,185221,3372,2633,10174,424,9646,82.24,1.50,...,24.0,13.0,54.170000,30.0,21.0,70.000000,0.0,0.0,NaN,3.848226
4,Calaveras,45057,41356,261,497,527,208,472,91.79,0.58,...,7.0,7.0,100.000000,0.0,0.0,NaN,0.0,0.0,NaN,3.805643
5,Colusa,21479,18964,198,247,328,16,1169,88.29,0.92,...,21.0,14.0,66.670000,0.0,0.0,NaN,0.0,0.0,NaN,3.831222
6,Contra Costa,1123678,658569,96345,5410,180072,5542,102876,58.61,8.57,...,693.0,412.0,59.450000,1251.0,912.0,72.900000,32.0,52.0,162.500000,3.735699
7,Del Norte,27442,21073,493,2158,776,21,909,76.79,1.80,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,3.879167
8,El Dorado,185015,161881,1789,1347,7864,333,5026,87.50,0.97,...,46.0,28.0,60.870000,76.0,57.0,75.000000,0.0,5.0,inf,3.641072
9,Fresno,971616,617322,47715,9784,97966,1947,158359,63.54,4.91,...,783.0,463.0,59.130000,437.0,309.0,70.710000,7.0,3.0,42.860000,3.731559
10,Glenn,27935,23191,220,541,729,113,2542,83.02,0.79,...,10.0,8.0,80.000000,0.0,0.0,NaN,0.0,0.0,NaN,3.753333
11,Humboldt,135490,109346,1609,7042,3926,418,5318,80.70,1.19,...,0.0,6.0,inf,0.0,7.0,inf,0.0,0.0,NaN,3.938209
12,Imperial,179957,117188,4785,1979,2584,261,44841,65.12,2.66,...,252.0,192.0,76.190000,5.0,7.0,140.000000,0.0,0.0,NaN,3.795303
13,Inyo,18195,14685,174,2093,272,34,409,80.71,0.96,...,9.0,3.0,33.330000,0.0,0.0,NaN,0.0,0.0,NaN,3.732381
14,Kern,878744,660196,48078,9739,41263,1620,88403,75.13,5.47,...,763.0,481.0,63.040000,159.0,136.0,85.530000,0.0,0.0,NaN,3.708173
15,Kings,150183,99117,9597,2259,5694,367,26842,66.00,6.39,...,79.0,44.0,55.700000,28.0,19.0,67.860000,0.0,0.0,NaN,3.780983
16,Lake,64095,49841,1493,2201,953,33,7951,77.76,2.33,...,11.0,0.0,0.000000,0.0,0.0,NaN,0.0,0.0,NaN,3.760490
17,Lassen,31470,25615,2748,968,463,219,865,81.39,8.73,...,0.0,3.0,inf,0.0,0.0,NaN,0.0,0.0,NaN,NaN
18,Los Angeles,10105722,5232835,828981,68211,1460508,27691,2101084,51.78,8.20,...,15514.0,7573.0,48.810000,7637.0,5541.0,72.550000,263.0,171.0,65.020000,3.609467
19,Madera,154440,118390,4938,2556,3303,224,20081,76.66,3.20,...,131.0,86.0,65.650000,20.0,16.0,80.000000,5.0,0.0,0.000000,3.829985
20,Marin,260814,203898,5759,689,14912,492,22779,78.18,2.21,...,123.0,55.0,44.720000,135.0,87.0,64.440000,14.0,5.0,35.710000,3.865142
21,Mariposa,17658,15715,215,467,168,56,309,89.00,1.22,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,4.004000
22,Mendocino,87497,72378,620,3703,1509,186,4644,82.72,0.71,...,22.0,15.0,68.180000,6.0,4.0,66.670000,0.0,0.0,NaN,3.904879
23,Merced,267390,153649,8621,1826,20224,456,70466,57.46,3.22,...,400.0,278.0,69.500000,109.0,97.0,88.990000,0.0,0.0,NaN,3.725597
24,Modoc,9017,8244,65,368,105,8,31,91.43,0.72,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN
25,Mono,14058,11987,74,374,280,0,940,85.27,0.53,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN
26,Monterey,433168,281181,11278,2890,24867,2038,93107,64.91,2.60,...,504.0,208.0,41.270000,150.0,94.0,62.670000,0.0,0.0,NaN,3.667499
27,Napa,141005,102418,2998,1236,11150,297,17573,72.63,2.13,...,113.0,48.0,42.480000,56.0,39.0,69.640000,0.0,0.0,NaN,3.823169
28,Nevada,98838,91016,582,930,1123,99,1823,92.09,0.59,...,11.0,7.0,63.640000,0.0,3.0,inf,0.0,0.0,NaN,3.777176
29,Orange,3155816,1960484,53262,14468,621178,9620,373605,62.12,1.69,...,3212.0,1644.0,51.180000,4314.0,3190.0,73.950000,79.0,76.0,96.200000,3.702305
30,Placer,374985,310295,5756,2029,25999,874,11661,82.75,1.53,...,134.0,73.0,54.480000,223.0,156.0,69.960000,10.0,4.0,40.000000,3.836706
31,Plumas,18724,16781,160,398,148,55,368,89.62,0.85,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,3.046000
32,Riverside,2355002,1450473,148960,19865,148213,6863,474855,61.59,6.33,...,3568.0,2057.0,57.650000,907.0,683.0,75.300000,41.0,26.0,63.410000,3.651462
33,Sacramento,1495400,877495,147425,10384,229441,16019,109241,58.68,9.86,...,605.0,359.0,59.340000,1166.0,826.0,70.840000,29.0,25.0,86.210000,3.717655
34,San Benito,58671,48136,442,426,1649,124,5181,82.04,0.75,...,54.0,30.0,55.560000,8.0,7.0,87.500000,0.0,0.0,NaN,3.634448
35,San Bernardino,2121220,1312700,178674,17046,146650,6660,360213,61.88,8.42,...,2891.0,1703.0,58.910000,809.0,667.0,82.450000,56.0,36.0,64.290000,3.646991
36,San Diego,3283665,2325434,164571,21064,384154,14182,207640,70.82,5.01,...,3340.0,1894.0,56.710000,2220.0,1650.0,74.320000,116.0,63.0,54.310000,3.776240
37,San Francisco,864263,408266,45654,3306,295347,3226,64800,47.24,5.28,...,364.0,194.0,53.300000,1604.0,1061.0,66.150000,62.0,62.0,100.000000,3.715216
38,San Joaquin,724153,404806,50433,4304,109359,4233,80536,55.90,6.96,...,473.0,276.0,58.350000,500.0,368.0,73.600000,0.0,0.0,NaN,3.682924
39,San Luis Obispo,280119,240584,5393,2041,10276,280,11804,85.89,1.93,...,114.0,52.0,45.610000,22.0,21.0,95.450000,0.0,0.0,NaN,3.940905
40,San Mateo,763450,397718,18577,2611,210816,10797,82231,52.09,2.43,...,574.0,322.0,56.100000,932.0,657.0,70.490000,52.0,39.0,75.000000,3.693576
41,Santa Barbara,442996,330827,8307,3869,23927,732,55909,74.68,1.88,...,421.0,238.0,56.530000,95.0,74.0,77.890000,0.0,10.0,inf,3.742341
42,Santa Clara,1911226,869630,48314,9273,671511,7438,210878,45.50,2.53,...,1215.0,665.0,54.730000,4475.0,3401.0,76.000000,170.0,139.0,81.760000,3.794443
43,Santa Cruz,273263,211116,2424,1507,12547,261,32786,77.26,0.89,...,231.0,124.0,53.680000,54.0,33.0,61.110000,5.0,3.0,60.000000,3.812288
44,Shasta,178919,155538,2007,4404,5310,153,3711,86.93,1.12,...,22.0,16.0,72.730000,19.0,12.0,63.160000,0.0,0.0,NaN,3.710915
45,Sierra,2885,2797,4,28,0,0,1,96.95,0.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Siskiyou,43530,37064,675,1511,687,161,690,85.15,1.55,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,3.684513
47,Solano,434981,229351,61752,2106,66432,3818,39516,52.73,14.20,...,205.0,128.0,62.440000,256.0,162.0,63.280000,0.0,0.0,NaN,3.745031
48,Sonoma,500943,377401,7848,5750,19605,1677,62101,75.34,1.57,...,276.0,135.0,48.910000,112.0,78.0,69.640000,0.0,6.0,inf,3.730259
49,Stanislaus,535684,400661,15121,3789,29488,3670,59966,74.79,2.82,...,437.0,274.0,62.700000,138.0,111.0,80.430000,0.0,7.0,inf,3.829836
50,Sutter,95583,67211,1970,904,14565,539,4185,70.32,2.06,...,53.0,32.0,60.380000,60.0,44.0,73.330000,0.0,0.0,NaN,3.829117
51,Tehama,63247,54371,379,1505,907,27,3505,85.97,0.60,...,6.0,0.0,0.000000,0.0,0.0,NaN,0.0,0.0,NaN,NaN
52,Trinity,13037,11284,104,559,161,118,416,86.55,0.80,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN
53,Tulare,458809,361911,7177,5787,16081,629,52819,78.88,1.56,...,449.0,265.0,59.020000,36.0,40.0,111.110000,0.0,0.0,NaN,3.665134
54,Tuolumne,53899,47181,975,931,609,155,1636,87.54,1.81,...,0.0,0.0,NaN,0.0,3.0,inf,0.0,0.0,NaN,3.356800
55,Ventura,847834,677010,14805,6929,60986,1658,49513,79.85,1.75,...,793.0,405.0,51.070000,510.0,382.0,74.900000,15.0,11.0,73.330000,3.845288
56,Yolo,212605,142841,5301,1333,29138,911,19837,67.19,2.49,...,134.0,75.0,55.970000,149.0,107.0,71.810000,8.0,0.0,0.000000,3.830044
57,Yuba,74644,54601,2484,1033,4823,300,5269,73.15,3.33,...,23.0,13.0,56.520000,0.0,0.0,NaN,0.0,0.0,NaN,3.632339


<font color = blue>**There are 58 rows and 45 columns.**</font>

In [5]:
UC_by_Counties.shape

(58, 45)

In [6]:
# changing names of columns for R reading of column names
UC_by_Counties = UC_by_Counties.rename(columns={"Median Household Income (In 2017 Inflation Adjusted Dollars)": "Median_Household_Income",
                                                "% Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty":"Child_Poverty_Rate",
                                                "% Total Population: White Alone":"Percent_White",
                                                "% Total Population: Black or African American Alone":"Percent_Black",
                                                "% Total Population: American Indian and Alaska Native Alone":"Percent_Native_American",
                                                "% Total Population: Asian Alone":"Percent_Asian",
                                                "% Total Population: Native Hawaiian and Other Pacific Islander Alone":"Percent_Pacific_Islander",
                                                "% Total Population: Some Other Race Alone":"Percent_Other",
                                                "% Total Population: Hispanic or Latino":"Percent_Latino",
                                                "Hispanic/Latino Admit Rate":"Latino_Admit_Rate"})


<font color=blue>**Converted the final dataframe columns to a list to make sure all the columns are there and in which order.**</font>

In [7]:
cols = UC_by_Counties.columns.tolist()
cols

['County',
 'Total Population',
 'Total Population: White Alone',
 'Total Population: Black or African American Alone',
 'Total Population: American Indian and Alaska Native Alone',
 'Total Population: Asian Alone',
 'Total Population: Native Hawaiian and Other Pacific Islander Alone',
 'Total Population: Some Other Race Alone',
 'Percent_White',
 'Percent_Black',
 'Percent_Native_American',
 'Percent_Asian',
 'Percent_Pacific_Islander',
 'Percent_Other',
 'Total Population: Hispanic or Latino',
 'Percent_Latino',
 '% Population 25 Years and Over: Less than High School',
 '% Population 25 Years and Over: High School Graduate or More (Includes Equivalency)',
 '% Population 25 Years and Over: Some College or More',
 "% Population 25 Years and Over: Bachelor's Degree or More",
 "% Population 25 Years and Over: Master's Degree or More",
 '% Population 25 Years and Over: Professional School Degree or More',
 '% Population 25 Years and Over: Doctorate Degree',
 'Civilian Population 16 to 19 Years:',
 'Median_Household_Income',
 'Child_Poverty_Rate',
 'White Applicants',
 'White Admits',
 'White Admit Rate',
 'Black Applicants',
 'Black Admits',
 'Black Admit Rate',
 'Native American Applicants',
 'Native American Admits',
 'Native American Admit Rate',
 'Hispanic/Latino Applicants',
 'Hispanic/Latino Admits',
 'Latino_Admit_Rate',
 'Asian Applicants',
 'Asian Admits',
 'Asian Admit Rate',
 'Other Applicants',
 'Other Admits',
 'Other Admit Rate',
 'App_GPA(avg)']


<font color = blue>**Reordered the columns to how I want to read the data.**</font>

In [8]:
cols.insert(0, cols.pop(cols.index("County")))
cols.insert(1, cols.pop(cols.index("Total Population")))
cols.insert(2, cols.pop(cols.index("Civilian Population 16 to 19 Years:")))
cols.insert(3, cols.pop(cols.index("Total Population: White Alone")))
cols.insert(4, cols.pop(cols.index("Percent_White")))
cols.insert(5, cols.pop(cols.index("White Applicants")))
cols.insert(6, cols.pop(cols.index("White Admits")))
cols.insert(7, cols.pop(cols.index("White Admit Rate")))
cols.insert(8, cols.pop(cols.index("Total Population: Black or African American Alone")))
cols.insert(9, cols.pop(cols.index("Percent_Black")))
cols.insert(10, cols.pop(cols.index("Black Applicants")))
cols.insert(11, cols.pop(cols.index("Black Admits")))
cols.insert(12, cols.pop(cols.index("Black Admit Rate")))
cols.insert(13, cols.pop(cols.index("Total Population: American Indian and Alaska Native Alone")))
cols.insert(14, cols.pop(cols.index("Percent_Native_American")))
cols.insert(15, cols.pop(cols.index("Native American Applicants")))
cols.insert(16, cols.pop(cols.index("Native American Admits")))
cols.insert(17, cols.pop(cols.index("Native American Admit Rate")))
cols.insert(18, cols.pop(cols.index("Total Population: Asian Alone")))
cols.insert(19, cols.pop(cols.index("Percent_Asian")))
cols.insert(20, cols.pop(cols.index("Asian Applicants")))
cols.insert(21, cols.pop(cols.index("Asian Admits")))
cols.insert(22, cols.pop(cols.index("Asian Admit Rate")))
cols.insert(23, cols.pop(cols.index("Total Population: Hispanic or Latino")))
cols.insert(24, cols.pop(cols.index("Percent_Latino")))
cols.insert(25, cols.pop(cols.index("Hispanic/Latino Applicants")))
cols.insert(26, cols.pop(cols.index("Hispanic/Latino Admits")))
cols.insert(27, cols.pop(cols.index("Latino_Admit_Rate")))
cols.insert(28, cols.pop(cols.index("Total Population: Some Other Race Alone")))
cols.insert(29, cols.pop(cols.index("Percent_Other")))
cols.insert(30, cols.pop(cols.index("Other Applicants")))
cols.insert(31, cols.pop(cols.index("Other Admits")))
cols.insert(32, cols.pop(cols.index("Other Admit Rate")))
cols.insert(33, cols.pop(cols.index("Total Population: Native Hawaiian and Other Pacific Islander Alone")))
cols.insert(34, cols.pop(cols.index("Percent_Pacific_Islander")))
cols.insert(35, cols.pop(cols.index("% Population 25 Years and Over: Less than High School")))
cols.insert(36, cols.pop(cols.index("% Population 25 Years and Over: High School Graduate or More (Includes Equivalency)")))
cols.insert(37, cols.pop(cols.index("% Population 25 Years and Over: Some College or More")))
cols.insert(38, cols.pop(cols.index("% Population 25 Years and Over: Bachelor's Degree or More")))
cols.insert(39, cols.pop(cols.index("% Population 25 Years and Over: Master's Degree or More")))
cols.insert(40, cols.pop(cols.index("% Population 25 Years and Over: Master's Degree or More")))
cols.insert(41, cols.pop(cols.index("% Population 25 Years and Over: Professional School Degree or More")))
cols.insert(42, cols.pop(cols.index("% Population 25 Years and Over: Doctorate Degree")))
cols.insert(43, cols.pop(cols.index("Median_Household_Income")))
cols.insert(44, cols.pop(cols.index("Child_Poverty_Rate")))
cols.insert(45, cols.pop(cols.index("App_GPA(avg)")))

# reset the index
UC_by_Counties = UC_by_Counties.reindex(columns= cols)


<font color=blue>**Checked to see if the column ordering is correctly displayed.**</font>

In [9]:
UC_by_Counties

,County,Total Population,Civilian Population 16 to 19 Years:,Total Population: White Alone,Percent_White,White Applicants,White Admits,White Admit Rate,Total Population: Black or African American Alone,Percent_Black,...,% Population 25 Years and Over: Less than High School,% Population 25 Years and Over: High School Graduate or More (Includes Equivalency),% Population 25 Years and Over: Some College or More,% Population 25 Years and Over: Bachelor's Degree or More,% Population 25 Years and Over: Master's Degree or More,% Population 25 Years and Over: Professional School Degree or More,% Population 25 Years and Over: Doctorate Degree,Median_Household_Income,Child_Poverty_Rate,App_GPA(avg)
0,Alameda,1629615,76292,694720,42.63,1166.0,809.0,69.380000,180446,11.07,...,12.46,87.54,69.65,44.71,18.98,5.86,2.87,85743,13.02,3.735009
1,Alpine,1203,109,826,68.66,NaN,NaN,NaN,18,1.50,...,10.23,89.77,55.61,25.65,10.73,3.70,2.47,63438,17.28,NaN
2,Amador,37306,1633,32453,86.99,15.0,10.0,66.670000,796,2.13,...,10.29,89.71,62.66,22.10,7.30,3.02,1.00,60636,20.26,3.950981
3,Butte,225207,13094,185221,82.24,103.0,56.0,54.370000,3372,1.50,...,11.25,88.75,66.12,26.62,8.93,3.22,0.99,46516,21.49,3.848226
4,Calaveras,45057,1922,41356,91.79,23.0,17.0,73.910000,261,0.58,...,9.99,90.01,62.42,19.28,6.71,1.73,0.61,54800,18.91,3.805643
5,Colusa,21479,1262,18964,88.29,5.0,3.0,60.000000,198,0.92,...,30.57,69.43,46.24,15.72,4.44,1.94,0.27,56481,20.70,3.831222
6,Contra Costa,1123678,57007,658569,58.61,1203.0,763.0,63.420000,96345,8.57,...,10.91,89.09,71.20,40.74,14.86,4.83,1.91,88456,12.43,3.735699
7,Del Norte,27442,1133,21073,76.79,7.0,6.0,85.710000,493,1.80,...,18.44,81.56,49.49,14.44,5.71,2.28,0.75,41287,31.19,3.879167
8,El Dorado,185015,9246,161881,87.50,217.0,126.0,58.060000,1789,0.97,...,7.10,92.90,71.44,33.33,11.98,3.99,1.42,74885,11.59,3.641072
9,Fresno,971616,56709,617322,63.54,291.0,202.0,69.420000,47715,4.91,...,25.33,74.67,51.83,20.12,6.80,2.52,0.86,48730,36.48,3.731559
10,Glenn,27935,1644,23191,83.02,0.0,3.0,inf,220,0.79,...,27.49,72.51,45.22,12.99,2.84,1.22,0.38,46260,25.47,3.753333
11,Humboldt,135490,7645,109346,80.70,91.0,67.0,73.630000,1609,1.19,...,9.45,90.55,66.51,29.43,10.09,3.70,1.38,43718,22.46,3.938209
12,Imperial,179957,10659,117188,65.12,6.0,8.0,133.330000,4785,2.66,...,31.59,68.41,44.88,14.28,4.43,0.86,0.17,44779,30.97,3.795303
13,Inyo,18195,814,14685,80.71,10.0,6.0,60.000000,174,0.96,...,11.35,88.65,58.31,25.28,9.38,2.46,1.25,51500,13.35,3.732381
14,Kern,878744,52584,660196,75.13,200.0,115.0,57.500000,48078,5.47,...,26.19,73.81,46.13,15.79,5.24,1.57,0.62,50826,31.33,3.708173
15,Kings,150183,8434,99117,66.00,17.0,12.0,70.590000,9597,6.39,...,27.08,72.92,47.38,13.05,3.78,1.38,0.27,49742,28.74,3.780983
16,Lake,64095,2960,49841,77.76,30.0,16.0,53.330000,1493,2.33,...,15.29,84.71,54.44,15.34,5.45,1.83,0.59,40446,31.62,3.760490
17,Lassen,31470,1179,25615,81.39,6.0,4.0,66.670000,2748,8.73,...,17.66,82.34,49.94,12.40,4.55,1.64,0.54,54083,20.72,NaN
18,Los Angeles,10105722,543922,5232835,51.78,5033.0,3265.0,64.870000,828981,8.20,...,21.84,78.16,57.44,31.23,10.88,3.63,1.30,61015,24.02,3.609467
19,Madera,154440,9449,118390,76.66,43.0,23.0,53.490000,4938,3.20,...,28.39,71.61,46.82,13.84,4.53,1.58,0.63,48210,31.50,3.829985
20,Marin,260814,10406,203898,78.18,590.0,362.0,61.360000,5759,2.21,...,6.75,93.25,82.02,57.51,25.05,9.67,3.08,104703,9.67,3.865142
21,Mariposa,17658,632,15715,89.00,13.0,12.0,92.310000,215,1.22,...,9.89,90.11,61.91,24.42,9.65,2.82,0.97,51385,17.50,4.004000
22,Mendocino,87497,4419,72378,82.72,47.0,25.0,53.190000,620,0.71,...,13.10,86.90,60.67,24.78,8.38,3.13,1.22,46528,24.43,3.904879
23,Merced,267390,18658,153649,57.46,61.0,49.0,80.330000,8621,3.22,...,31.11,68.89,43.79,13.76,4.81,1.58,0.72,46338,33.36,3.725597
24,Modoc,9017,435,8244,91.43,0.0,0.0,NaN,65,0.72,...,14.49,85.51,55.05,16.58,4.04,0.73,0.00,39296,20.42,NaN
25,Mono,14058,491,11987,85.27,6.0,3.0,50.000000,74,0.53,...,15.27,84.73,65.80,31.54,8.33,1.99,0.30,60595,11.95,NaN
26,Monterey,433168,24661,281181,64.91,192.0,118.0,61.460000,11278,2.60,...,28.80,71.20,50.50,23.92,9.45,3.16,1.25,63249,21.59,3.667499
27,Napa,141005,7485,102418,72.63,164.0,105.0,64.020000,2998,2.13,...,15.27,84.73,66.63,34.57,11.76,4.49,1.45,79637,8.97,3.823169
28,Nevada,98838,4471,91016,92.09,73.0,55.0,75.340000,582,0.59,...,6.45,93.55,75.04,35.83,12.98,4.13,1.25,60610,15.10,3.777176
29,Orange,3155816,168512,1960484,62.12,2880.0,1667.0,57.880000,53262,1.69,...,15.29,84.71,67.40,39.07,13.86,4.38,1.57,81851,16.42,3.702305
30,Placer,374985,18701,310295,82.75,470.0,282.0,60.000000,5756,1.53,...,5.54,94.46,75.40,37.49,12.48,3.88,1.14,80488,8.30,3.836706
31,Plumas,18724,757,16781,89.62,NaN,0.0,NaN,160,0.85,...,6.43,93.57,68.11,22.59,10.12,2.42,0.55,50266,12.78,3.046000
32,Riverside,2355002,141857,1450473,61.59,1071.0,717.0,66.950000,148960,6.33,...,18.91,81.09,54.71,21.52,7.84,2.28,0.87,60807,21.31,3.651462
33,Sacramento,1495400,75776,877495,58.68,807.0,490.0,60.720000,147425,9.86,...,12.98,87.02,64.52,29.87,10.15,3.32,1.07,60239,22.61,3.717655
34,San Benito,58671,3552,48136,82.04,18.0,10.0,55.560000,442,0.75,...,20.90,79.10,54.44,19.19,5.86,1.91,0.70,80760,14.45,3.634448
35,San Bernardino,2121220,129131,1312700,61.88,577.0,402.0,69.670000,178674,8.42,...,20.80,79.20,52.98,19.77,6.94,1.90,0.74,57156,25.82,3.646991
36,San Diego,3283665,173100,2325434,70.82,2877.0,1852.0,64.370000,164571,5.01,...,13.30,86.70,68.10,37.36,14.36,4.82,2.08,70588,17.06,3.776240
37,San Francisco,864263,25022,408266,47.24,570.0,382.0,67.020000,45654,5.28,...,12.10,87.90,75.60,55.79,22.37,7.69,2.74,96265,11.37,3.715216
38,San Joaquin,724153,43844,404806,55.90,208.0,131.0,62.980000,50433,6.96,...,21.56,78.44,51.07,18.08,5.77,1.84,0.65,57813,23.06,3.682924
39,San Luis Obispo,280119,19462,240584,85.89,269.0,154.0,57.250000,5393,1.93,...,9.53,90.47,70.66,34.00,12.85,4.54,2.05,67175,12.90,3.940905
40,San Mateo,763450,31819,397718,52.09,867.0,529.0,61.010000,18577,2.43,...,11.06,88.94,73.44,48.54,20.33,7.28,3.25,105667,8.73,3.693576
41,Santa Barbara,442996,32040,330827,74.68,343.0,233.0,67.930000,8307,1.88,...,19.56,80.44,63.02,33.27,13.46,4.99,2.29,68023,19.37,3.742341
42,Santa Clara,1911226,91461,869630,45.50,1754.0,1094.0,62.370000,48314,2.53,...,12.45,87.55,72.77,50.02,23.18,6.34,3.63,106761,9.73,3.794443
43,Santa Cruz,273263,19750,211116,77.26,278.0,167.0,60.070000,2424,0.89,...,13.59,86.41,70.88,39.75,16.12,5.64,2.74,73663,16.95,3.812288
44,Shasta,178919,8973,155538,86.93,94.0,52.0,55.320000,2007,1.12,...,9.32,90.68,64.95,21.36,7.37,2.49,0.58,47258,25.40,3.710915
45,Sierra,2885,108,2797,96.95,NaN,NaN,NaN,4,0.14,...,7.09,92.91,67.49,21.40,6.53,1.60,0.73,44190,10.56,NaN
46,Siskiyou,43530,1971,37064,85.15,16.0,8.0,50.000000,675,1.55,...,10.69,89.31,64.22,22.69,7.64,2.23,0.58,40884,26.62,3.684513
47,Solano,434981,21702,229351,52.73,179.0,122.0,68.160000,61752,14.20,...,12.41,87.59,64.30,25.57,7.71,2.39,0.83,72950,16.59,3.745031
48,Sonoma,500943,23987,377401,75.34,438.0,256.0,58.450000,7848,1.57,...,12.32,87.68,68.55,33.85,12.17,4.24,1.43,71769,13.05,3.730259
49,Stanislaus,535684,30746,400661,74.79,219.0,169.0,77.170000,15121,2.82,...,22.25,77.75,49.54,16.72,5.37,1.89,0.52,54260,23.20,3.829836
50,Sutter,95583,5147,67211,70.32,21.0,17.0,80.950000,1970,2.06,...,21.35,78.65,53.74,17.51,5.54,1.74,0.42,54347,23.33,3.829117
51,Tehama,63247,2918,54371,85.97,13.0,6.0,46.150000,379,0.60,...,15.96,84.04,51.64,14.37,4.62,1.49,0.28,42512,30.91,NaN
52,Trinity,13037,734,11284,86.55,7.0,4.0,57.140000,104,0.80,...,10.23,89.77,57.89,19.47,4.06,1.03,0.51,36563,24.50,NaN
53,Tulare,458809,29320,361911,78.88,92.0,74.0,80.430000,7177,1.56,...,31.36,68.64,42.81,13.84,4.55,1.36,0.42,44871,36.19,3.665134
54,Tuolumne,53899,2342,47181,87.54,25.0,18.0,72.000000,975,1.81,...,9.28,90.72,61.53,20.57,7.47,2.47,0.72,54325,13.80,3.356800
55,Ventura,847834,46337,677010,79.85,852.0,501.0,58.800000,14805,1.75,...,16.01,83.99,65.07,32.59,12.20,4.00,1.64,81972,14.39,3.845288
56,Yolo,212605,17436,142841,67.19,246.0,169.0,68.700000,5301,2.49,...,13.88,86.12,67.26,40.57,19.84,9.24,5.22,61621,16.32,3.830044
57,Yuba,74644,3656,54601,73.15,13.0,7.0,53.850000,2484,3.33,...,17.85,82.15,57.58,16.38,4.41,1.05,0.18,51776,24.97,3.632339


<font color=blue>**Wrote out the final dataframe to a csv file.**</font>

In [10]:
UC_by_Counties.to_csv(r"/Users/susanlieu/Documents/LIS590OMO/Data/UC_County.csv", sep=",", encoding="utf-8")