In [1]:
import pandas as pd
uszipcodes = pd.read_csv('/Users/susanlieu/Documents/practicum/uszips_sl.csv')
cademog = pd.read_csv('/Users/susanlieu/Documents/practicum/ca_demo.csv')

In [2]:
cademog.head()

,FIPS,Geographic Identifier,Name of Area,Qualifying Name,State/U.S.-Abbreviation (USPS),Summary Level,Geographic Component,File Identification,Logical Record Number,US,...,"% Civilian Population 16 to 19 Years: High School Graduate, or Enrolled (in School)",Median Household Income (In 2017 Inflation Adjusted Dollars),Population Under 18 Years of Age for Whom Poverty Status Is Determined:,Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty,Population Under 18 Years of Age for Whom Poverty Status Is Determined: At or Above Poverty Level,% Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty,% Population Under 18 Years of Age for Whom Poverty Status Is Determined: At or Above Poverty Level,Households,Households with Housing Costs more than 30% of Income,% Households with Housing Costs more than 30% of Income
0,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,...,PCT_SE_T030_003,SE_T057_001,SE_T114_001,SE_T114_002,SE_T114_003,PCT_SE_T114_002,PCT_SE_T114_003,SE_T255_001,SE_T255_002,PCT_SE_T255_002
1,6001,05000US06001,"Alameda County, California","Alameda County, California",ca,50,0,ACSSF,13,NaN,...,97.33,85743,340749,44382,296367,13.02,86.98,569070,208963,36.72
2,6003,05000US06003,"Alpine County, California","Alpine County, California",ca,50,0,ACSSF,14,NaN,...,100,63438,243,42,201,17.28,82.72,304,122,40.13
3,6005,05000US06005,"Amador County, California","Amador County, California",ca,50,0,ACSSF,15,NaN,...,96.14,60636,5564,1127,4437,20.26,79.74,14185,4024,28.37
4,6007,05000US06007,"Butte County, California","Butte County, California",ca,50,0,ACSSF,16,NaN,...,98,46516,44392,9542,34850,21.49,78.51,86167,31259,36.28

In [3]:
uszipcodes.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,all_county_weights,imprecise,military,timezone
0,951,18.4284,-66.2566,Toa Baja,PR,Puerto Rico,True,NaN,35,32.5,72137,Toa Baja,{'72137':100},False,False,America/Puerto_Rico
1,96863,21.4484,-157.7623,Mcbh Kaneohe Bay,HI,Hawaii,True,NaN,52,708.1,15003,Honolulu,{'15003':100},False,False,Pacific/Honolulu
2,34141,25.9723,-81.0936,Ochopee,FL,Florida,True,NaN,232,0.1,12021,Collier,"{'12021':97.41,'12087':2.59}",False,False,America/New_York
3,78060,28.4469,-98.1071,Oakville,TX,Texas,True,NaN,37,36.3,48297,Live Oak,{'48297':100},False,False,America/Chicago
4,78144,28.9551,-97.8880,Panna Maria,TX,Texas,True,NaN,45,7.7,48255,Karnes,{'48255':100},False,False,America/Chicago

In [4]:
zips_filtered = pd.read_csv('/Users/susanlieu/Documents/practicum/uszips_sl.csv', usecols=['zip', 'state_name', 'county_name'])

In [5]:
zips_filtered.head()

     zip   state_name county_name
0    951  Puerto Rico    Toa Baja
1  96863       Hawaii    Honolulu
2  34141      Florida     Collier
3  78060        Texas    Live Oak
4  78144        Texas      Karnes

In [6]:
cademog_filtered = pd.read_csv('/Users/susanlieu/Documents/practicum/ca_demo.csv', usecols=['Name of Area',
                                                                                            'Population 25 Years and Over:',
                                                                                            'Population 25 Years and Over: Less than High School',
                                                                                            'Population 25 Years and Over: High School Graduate (Includes Equivalency)',
                                                                                            'Population 25 Years and Over: Some College',
                                                                                            'Population 25 Years and Over: Bachelor\'s Degree',
                                                                                            'Population 25 Years and Over: Master\'s Degree',
                                                                                            'Population 25 Years and Over: Professional School Degree',
                                                                                            'Population 25 Years and Over: Doctorate Degree',
                                                                                            '% Population 25 Years and Over: Less than High School',
                                                                                            '% Population 25 Years and Over: High School Graduate (Includes Equivalency)',
                                                                                            '% Population 25 Years and Over: Some College',
                                                                                            '% Population 25 Years and Over: Bachelor\'s Degree',
                                                                                            '% Population 25 Years and Over: Master\'s Degree',
                                                                                            '% Population 25 Years and Over: Professional School Degree',
                                                                                            '% Population 25 Years and Over: Doctorate Degree',
                                                                                            'Civilian Population 16 to 19 Years:',
                                                                                            'Civilian Population 16 to 19 Years: Not High School Graduate, Not Enrolled (Dropped Out)',
                                                                                            'Civilian Population 16 to 19 Years: High School Graduate, or Enrolled (in School)',
                                                                                            '% Civilian Population 16 to 19 Years: Not High School Graduate, Not Enrolled (Dropped Out)',
                                                                                            '% Civilian Population 16 to 19 Years: High School Graduate, or Enrolled (in School)', 
                                                                                            'Median Household Income (In 2017 Inflation Adjusted Dollars)', 
                                                                                            'Population Under 18 Years of Age for Whom Poverty Status Is Determined:',
                                                                                            'Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty', 
                                                                                            'Population Under 18 Years of Age for Whom Poverty Status Is Determined: At or Above Poverty Level',
                                                                                            '% Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty',
                                                                                            '% Population Under 18 Years of Age for Whom Poverty Status Is Determined: At or Above Poverty Level',
                                                                                            'Households','Households with Housing Costs more than 30% of Income', 
                                                                                            '% Households with Housing Costs more than 30% of Income'
                                                                                        ])

In [7]:
cademog_filtered.head()

,Name of Area,Population 25 Years and Over:,Population 25 Years and Over: Less than High School,Population 25 Years and Over: High School Graduate (Includes Equivalency),Population 25 Years and Over: Some College,Population 25 Years and Over: Bachelor's Degree,Population 25 Years and Over: Master's Degree,Population 25 Years and Over: Professional School Degree,Population 25 Years and Over: Doctorate Degree,% Population 25 Years and Over: Less than High School,...,"% Civilian Population 16 to 19 Years: High School Graduate, or Enrolled (in School)",Median Household Income (In 2017 Inflation Adjusted Dollars),Population Under 18 Years of Age for Whom Poverty Status Is Determined:,Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty,Population Under 18 Years of Age for Whom Poverty Status Is Determined: At or Above Poverty Level,% Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty,% Population Under 18 Years of Age for Whom Poverty Status Is Determined: At or Above Poverty Level,Households,Households with Housing Costs more than 30% of Income,% Households with Housing Costs more than 30% of Income
0,Geo_NAME,SE_T025_001,SE_T025_002,SE_T025_003,SE_T025_004,SE_T025_005,SE_T025_006,SE_T025_007,SE_T025_008,PCT_SE_T025_002,...,PCT_SE_T030_003,SE_T057_001,SE_T114_001,SE_T114_002,SE_T114_003,PCT_SE_T114_002,PCT_SE_T114_003,SE_T255_001,SE_T255_002,PCT_SE_T255_002
1,"Alameda County, California",1139149,141961,203796,284098,293137,149371,34121,32665,12.46,...,97.33,85743,340749,44382,296367,13.02,86.98,569070,208963,36.72
2,"Alpine County, California",811,83,277,243,121,57,10,20,10.23,...,100,63438,243,42,201,17.28,82.72,304,122,40.13
3,"Amador County, California",28953,2978,7832,11745,4285,1240,584,289,10.29,...,96.14,60636,5564,1127,4437,20.26,79.74,14185,4024,28.37
4,"Butte County, California",145918,16411,33023,57637,25811,8343,3253,1440,11.25,...,98,46516,44392,9542,34850,21.49,78.51,86167,31259,36.28

In [8]:
zips_filtered.shape

(33099, 3)

In [9]:
cademog_filtered.shape

(59, 30)

In [10]:
zips_caonly = zips_filtered[(zips_filtered['state_name'] == 'California')]

In [11]:
zips_caonly.head()

      zip  state_name     county_name
23  92280  California  San Bernardino
25  92304  California  San Bernardino
27  92332  California  San Bernardino
30  93519  California            Kern
48  95226  California       Calaveras

In [12]:
zips_caonly.shape

(1761, 3)

In [13]:
zips_ca = zips_caonly[['zip', 'county_name']]

In [14]:
zips_ca.head() #new dataset with zips in one cell separated by ; keep county_name as separate column in different jupyter notebook

      zip     county_name
23  92280  San Bernardino
25  92304  San Bernardino
27  92332  San Bernardino
30  93519            Kern
48  95226       Calaveras

In [15]:
zips_ca.shape

(1761, 2)

In [16]:
# remove "County, California" from cademog.filtered df
import re

cademog_filtered['Name of Area'] = cademog_filtered['Name of Area'].apply(lambda x: 
                                                                         re.sub(r'(\sCounty\,\sCalifornia)','', x))
cademog_filtered

,Name of Area,Population 25 Years and Over:,Population 25 Years and Over: Less than High School,Population 25 Years and Over: High School Graduate (Includes Equivalency),Population 25 Years and Over: Some College,Population 25 Years and Over: Bachelor's Degree,Population 25 Years and Over: Master's Degree,Population 25 Years and Over: Professional School Degree,Population 25 Years and Over: Doctorate Degree,% Population 25 Years and Over: Less than High School,...,"% Civilian Population 16 to 19 Years: High School Graduate, or Enrolled (in School)",Median Household Income (In 2017 Inflation Adjusted Dollars),Population Under 18 Years of Age for Whom Poverty Status Is Determined:,Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty,Population Under 18 Years of Age for Whom Poverty Status Is Determined: At or Above Poverty Level,% Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty,% Population Under 18 Years of Age for Whom Poverty Status Is Determined: At or Above Poverty Level,Households,Households with Housing Costs more than 30% of Income,% Households with Housing Costs more than 30% of Income
0,Geo_NAME,SE_T025_001,SE_T025_002,SE_T025_003,SE_T025_004,SE_T025_005,SE_T025_006,SE_T025_007,SE_T025_008,PCT_SE_T025_002,...,PCT_SE_T030_003,SE_T057_001,SE_T114_001,SE_T114_002,SE_T114_003,PCT_SE_T114_002,PCT_SE_T114_003,SE_T255_001,SE_T255_002,PCT_SE_T255_002
1,Alameda,1139149,141961,203796,284098,293137,149371,34121,32665,12.46,...,97.33,85743,340749,44382,296367,13.02,86.98,569070,208963,36.72
2,Alpine,811,83,277,243,121,57,10,20,10.23,...,100,63438,243,42,201,17.28,82.72,304,122,40.13
3,Amador,28953,2978,7832,11745,4285,1240,584,289,10.29,...,96.14,60636,5564,1127,4437,20.26,79.74,14185,4024,28.37
4,Butte,145918,16411,33023,57637,25811,8343,3253,1440,11.25,...,98,46516,44392,9542,34850,21.49,78.51,86167,31259,36.28
5,Calaveras,34250,3421,9450,14775,4306,1705,383,210,9.99,...,95.94,54800,7693,1455,6238,18.91,81.09,17812,6072,34.09
6,Colusa,13509,4130,3132,4123,1524,338,226,36,30.57,...,97.54,56481,5919,1225,4694,20.7,79.3,7047,2022,28.69
7,Contra Costa,767132,83698,137219,233710,198521,76942,22425,14617,10.91,...,97.59,88456,257989,32066,225923,12.43,87.57,389597,138071,35.44
8,Del Norte,19424,3581,6230,6809,1695,666,298,145,18.44,...,90.91,41287,5517,1721,3796,31.19,68.81,9683,2927,30.23
9,El Dorado,132744,9425,28481,50590,28348,10599,3416,1885,7.1,...,99.3,74885,37403,4334,33069,11.59,88.41,68084,21932,32.21
10,Fresno,588491,149076,134373,186653,78378,25209,9767,5035,25.33,...,94.6,48730,275710,100591,175119,36.48,63.52,301824,115295,38.2
11,Glenn,17927,4929,4891,5779,1819,291,150,68,27.49,...,94.16,46260,7393,1883,5510,25.47,74.53,9936,3093,31.13
12,Humboldt,91359,8635,21962,33878,17668,5838,2115,1263,9.45,...,97.38,43718,25752,5783,19969,22.46,77.54,53966,21389,39.63
13,Imperial,108522,34282,25530,33212,10692,3877,742,187,31.59,...,96.11,44779,51127,15836,35291,30.97,69.03,45198,15901,35.18
14,Inyo,13230,1502,4014,4370,2103,915,160,166,11.35,...,98.77,51500,3671,490,3181,13.35,86.65,8026,2107,26.25
15,Kern,526286,137823,145694,159688,55523,19285,5010,3263,26.19,...,96.2,50826,253373,79380,173993,31.33,68.67,264993,93116,35.14
16,Kings,91889,24879,23477,31542,8518,2203,1018,252,27.08,...,98,49742,40492,11636,28856,28.74,71.26,42349,14136,33.38
17,Lake,46386,7091,14042,18137,4588,1678,577,273,15.29,...,96.79,40446,12782,4042,8740,31.62,68.38,26327,9125,34.66
18,Lassen,22422,3960,7265,8416,1761,652,248,120,17.66,...,93.64,54083,4883,1012,3871,20.72,79.28,9441,2396,25.38
19,Los Angeles,6801851,1485760,1408905,1782880,1384333,492924,158811,88238,21.84,...,96.69,61015,2243124,538720,1704404,24.02,75.98,3295198,1490840,45.24
20,Madera,96096,27278,23827,31695,8945,2836,913,602,28.39,...,96.11,48210,42184,13287,28897,31.5,68.5,44458,15610,35.11
21,Marin,191055,12898,21448,46833,62021,29375,12594,5886,6.75,...,97.89,104703,52413,5068,47345,9.67,90.33,104846,37907,36.15
22,Mariposa,13656,1350,3852,5119,2017,933,253,132,9.89,...,99.68,51385,2857,500,2357,17.5,82.5,7434,2125,28.58
23,Mendocino,61673,8079,16180,22129,10117,3237,1179,752,13.1,...,98.05,46528,18617,4549,14068,24.43,75.57,34182,12500,36.57
24,Merced,156562,48703,39302,47016,14006,5063,1337,1135,31.11,...,96.74,46338,78552,26207,52345,33.36,66.64,79261,28096,35.45
25,Modoc,6852,993,2087,2636,859,227,50,0,14.49,...,78.39,39296,1670,341,1329,20.42,79.58,3638,1035,28.45
26,Mono,9692,1480,1835,3320,2250,614,164,29,15.27,...,100,60595,2727,326,2401,11.95,88.05,4899,1472,30.05
27,Monterey,273560,78790,56609,72720,39587,17199,5241,3414,28.8,...,96.05,63249,112673,24331,88342,21.59,78.41,125939,51727,41.07
28,Napa,97924,14952,17725,31392,22344,7116,2977,1418,15.27,...,97.07,79637,29711,2664,27047,8.97,91.03,49044,17181,35.03
29,Nevada,75012,4839,13885,29414,17134,6643,2156,941,6.45,...,95.75,60610,17093,2581,14512,15.1,84.9,40386,14188,35.13
30,Orange,2132158,326035,369128,603879,537600,202104,60031,33381,15.29,...,97.85,81851,705866,115890,589976,16.42,83.58,1024976,409764,39.98
31,Placer,260802,14460,49705,98866,65212,22438,7136,2985,5.54,...,97.71,80488,84304,6995,77309,8.3,91.7,138564,45425,32.78
32,Plumas,14480,931,3686,6592,1806,1114,271,80,6.43,...,94.98,50266,3021,386,2635,12.78,87.22,8287,2603,31.41
33,Riverside,1500538,283792,395824,497987,205329,83333,21150,13123,18.91,...,97.34,60807,603629,128643,474986,21.31,78.69,711724,276541,38.86
34,Sacramento,996195,129295,224145,345169,196514,67958,22412,10702,12.98,...,96.87,60239,356360,80560,275800,22.61,77.39,532050,197579,37.14
35,San Benito,37357,7808,9212,13167,4980,1476,453,261,20.9,...,97.21,80760,15385,2223,13162,14.45,85.55,17440,6356,36.44
36,San Bernardino,1313298,273160,344417,436051,168511,66158,15271,9730,20.8,...,96.16,57156,563629,145518,418111,25.82,74.18,623642,247860,39.74
37,San Diego,2197045,292200,408582,675349,505483,209580,60233,45618,13.3,...,97.68,70588,717966,122470,595496,17.06,82.94,1111739,455975,41.01
38,San Francisco,683074,82618,84072,135318,228294,100265,33789,18718,12.1,...,97.91,96265,113976,12958,101018,11.37,88.63,358772,122617,34.18
39,San Joaquin,450857,97190,123399,148765,55477,17720,5374,2932,21.56,...,95.81,57813,197107,45453,151654,23.06,76.94,223808,84287,37.66
40,San Luis Obispo,185803,17708,36805,68113,39299,15447,4622,3809,9.53,...,98.36,67175,49899,6436,43463,12.9,87.1,105044,38842,36.98
41,San Mateo,544336,60194,84393,135551,153522,71057,21924,17695,11.06,...,98.01,105667,160245,13993,146252,8.73,91.27,261796,92830,35.46
42,Santa Barbara,272818,53365,47512,81177,54031,23123,7370,6240,19.56,...,97.29,68023,97380,18861,78519,19.37,80.63,144015,57105,39.65
43,Santa Clara,1310623,163160,193771,298091,351778,220693,35568,47562,12.45,...,97.84,106761,430181,41877,388304,9.73,90.27,630451,216166,34.29
44,Santa Cruz,177627,24138,27591,55291,41971,18611,5156,4869,13.59,...,98.35,73663,53336,9043,44293,16.95,83.05,95536,38947,40.77
45,Shasta,125093,11656,32185,54537,17495,6099,2400,721,9.32,...,96.79,47258,37884,9623,28261,25.4,74.6,70486,25344,35.96
46,Sierra,2313,164,588,1066,344,114,20,17,7.09,...,100,44190,426,45,381,10.56,89.44,1208,288,23.84
47,Siskiyou,31749,3393,7966,13186,4777,1720,524,183,10.69,...,99.34,40884,8589,2286,6303,26.62,73.38,19018,6081,31.97
48,Solano,295232,36652,68760,114343,52721,15710,4602,2444,12.41,...,97.5,72950,97280,16134,81146,16.59,83.41,147352,54348,36.88
49,Sonoma,355303,43758,68000,123283,77016,28192,9981,5073,12.32,...,97.33,71769,99993,13050,86943,13.05,86.95,190058,70853,37.28
50,Stanislaus,336086,74765,94817,110302,38138,11704,4612,1748,22.25,...,97.39,54260,143605,33315,110290,23.2,76.8,171324,62823,36.67
51,Sutter,61768,13186,15390,22375,7398,2344,817,258,21.35,...,97.51,54347,24734,5770,18964,23.33,76.67,32188,10885,33.82
52,Tehama,43113,6882,13966,16070,4202,1350,521,122,15.96,...,99.28,42512,14674,4536,10138,30.91,69.09,23712,8736,36.84
53,Trinity,10098,1033,3219,3880,1556,306,52,52,10.23,...,96.32,36563,2131,522,1609,24.5,75.5,5462,1942,35.55
54,Tulare,266582,83599,68866,77226,24752,8504,2505,1130,31.36,...,95.94,44871,141523,51213,90310,36.19,63.81,135144,51544,38.14
55,Tuolumne,40935,3799,11949,16767,5362,2045,717,296,9.28,...,97.44,54325,8948,1235,7713,13.8,86.2,22267,6850,30.76
56,Ventura,562386,90044,106376,182707,114671,46109,13277,9202,16.01,...,96.87,81972,199163,28666,170497,14.39,85.61,270046,104682,38.76
57,Yolo,124232,17242,23432,33153,25761,13161,4996,6487,13.88,...,98.65,61621,44818,7315,37503,16.32,83.68,72845,26136,35.88
58,Yuba,46582,8316,11443,19195,5573,1565,406,84,17.85,...,97.24,51776,20380,5088,15292,24.97,75.03,25880,9454,36.53

In [17]:
# change "Name of Area" to "county_name"

cademog_filtered = cademog_filtered.rename({'Name of Area':'county_name'}, axis='columns')

In [18]:
cademog_filtered.drop(cademog_filtered.index[0])

,county_name,Population 25 Years and Over:,Population 25 Years and Over: Less than High School,Population 25 Years and Over: High School Graduate (Includes Equivalency),Population 25 Years and Over: Some College,Population 25 Years and Over: Bachelor's Degree,Population 25 Years and Over: Master's Degree,Population 25 Years and Over: Professional School Degree,Population 25 Years and Over: Doctorate Degree,% Population 25 Years and Over: Less than High School,...,"% Civilian Population 16 to 19 Years: High School Graduate, or Enrolled (in School)",Median Household Income (In 2017 Inflation Adjusted Dollars),Population Under 18 Years of Age for Whom Poverty Status Is Determined:,Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty,Population Under 18 Years of Age for Whom Poverty Status Is Determined: At or Above Poverty Level,% Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty,% Population Under 18 Years of Age for Whom Poverty Status Is Determined: At or Above Poverty Level,Households,Households with Housing Costs more than 30% of Income,% Households with Housing Costs more than 30% of Income
1,Alameda,1139149,141961,203796,284098,293137,149371,34121,32665,12.46,...,97.33,85743,340749,44382,296367,13.02,86.98,569070,208963,36.72
2,Alpine,811,83,277,243,121,57,10,20,10.23,...,100,63438,243,42,201,17.28,82.72,304,122,40.13
3,Amador,28953,2978,7832,11745,4285,1240,584,289,10.29,...,96.14,60636,5564,1127,4437,20.26,79.74,14185,4024,28.37
4,Butte,145918,16411,33023,57637,25811,8343,3253,1440,11.25,...,98,46516,44392,9542,34850,21.49,78.51,86167,31259,36.28
5,Calaveras,34250,3421,9450,14775,4306,1705,383,210,9.99,...,95.94,54800,7693,1455,6238,18.91,81.09,17812,6072,34.09
6,Colusa,13509,4130,3132,4123,1524,338,226,36,30.57,...,97.54,56481,5919,1225,4694,20.7,79.3,7047,2022,28.69
7,Contra Costa,767132,83698,137219,233710,198521,76942,22425,14617,10.91,...,97.59,88456,257989,32066,225923,12.43,87.57,389597,138071,35.44
8,Del Norte,19424,3581,6230,6809,1695,666,298,145,18.44,...,90.91,41287,5517,1721,3796,31.19,68.81,9683,2927,30.23
9,El Dorado,132744,9425,28481,50590,28348,10599,3416,1885,7.1,...,99.3,74885,37403,4334,33069,11.59,88.41,68084,21932,32.21
10,Fresno,588491,149076,134373,186653,78378,25209,9767,5035,25.33,...,94.6,48730,275710,100591,175119,36.48,63.52,301824,115295,38.2
11,Glenn,17927,4929,4891,5779,1819,291,150,68,27.49,...,94.16,46260,7393,1883,5510,25.47,74.53,9936,3093,31.13
12,Humboldt,91359,8635,21962,33878,17668,5838,2115,1263,9.45,...,97.38,43718,25752,5783,19969,22.46,77.54,53966,21389,39.63
13,Imperial,108522,34282,25530,33212,10692,3877,742,187,31.59,...,96.11,44779,51127,15836,35291,30.97,69.03,45198,15901,35.18
14,Inyo,13230,1502,4014,4370,2103,915,160,166,11.35,...,98.77,51500,3671,490,3181,13.35,86.65,8026,2107,26.25
15,Kern,526286,137823,145694,159688,55523,19285,5010,3263,26.19,...,96.2,50826,253373,79380,173993,31.33,68.67,264993,93116,35.14
16,Kings,91889,24879,23477,31542,8518,2203,1018,252,27.08,...,98,49742,40492,11636,28856,28.74,71.26,42349,14136,33.38
17,Lake,46386,7091,14042,18137,4588,1678,577,273,15.29,...,96.79,40446,12782,4042,8740,31.62,68.38,26327,9125,34.66
18,Lassen,22422,3960,7265,8416,1761,652,248,120,17.66,...,93.64,54083,4883,1012,3871,20.72,79.28,9441,2396,25.38
19,Los Angeles,6801851,1485760,1408905,1782880,1384333,492924,158811,88238,21.84,...,96.69,61015,2243124,538720,1704404,24.02,75.98,3295198,1490840,45.24
20,Madera,96096,27278,23827,31695,8945,2836,913,602,28.39,...,96.11,48210,42184,13287,28897,31.5,68.5,44458,15610,35.11
21,Marin,191055,12898,21448,46833,62021,29375,12594,5886,6.75,...,97.89,104703,52413,5068,47345,9.67,90.33,104846,37907,36.15
22,Mariposa,13656,1350,3852,5119,2017,933,253,132,9.89,...,99.68,51385,2857,500,2357,17.5,82.5,7434,2125,28.58
23,Mendocino,61673,8079,16180,22129,10117,3237,1179,752,13.1,...,98.05,46528,18617,4549,14068,24.43,75.57,34182,12500,36.57
24,Merced,156562,48703,39302,47016,14006,5063,1337,1135,31.11,...,96.74,46338,78552,26207,52345,33.36,66.64,79261,28096,35.45
25,Modoc,6852,993,2087,2636,859,227,50,0,14.49,...,78.39,39296,1670,341,1329,20.42,79.58,3638,1035,28.45
26,Mono,9692,1480,1835,3320,2250,614,164,29,15.27,...,100,60595,2727,326,2401,11.95,88.05,4899,1472,30.05
27,Monterey,273560,78790,56609,72720,39587,17199,5241,3414,28.8,...,96.05,63249,112673,24331,88342,21.59,78.41,125939,51727,41.07
28,Napa,97924,14952,17725,31392,22344,7116,2977,1418,15.27,...,97.07,79637,29711,2664,27047,8.97,91.03,49044,17181,35.03
29,Nevada,75012,4839,13885,29414,17134,6643,2156,941,6.45,...,95.75,60610,17093,2581,14512,15.1,84.9,40386,14188,35.13
30,Orange,2132158,326035,369128,603879,537600,202104,60031,33381,15.29,...,97.85,81851,705866,115890,589976,16.42,83.58,1024976,409764,39.98
31,Placer,260802,14460,49705,98866,65212,22438,7136,2985,5.54,...,97.71,80488,84304,6995,77309,8.3,91.7,138564,45425,32.78
32,Plumas,14480,931,3686,6592,1806,1114,271,80,6.43,...,94.98,50266,3021,386,2635,12.78,87.22,8287,2603,31.41
33,Riverside,1500538,283792,395824,497987,205329,83333,21150,13123,18.91,...,97.34,60807,603629,128643,474986,21.31,78.69,711724,276541,38.86
34,Sacramento,996195,129295,224145,345169,196514,67958,22412,10702,12.98,...,96.87,60239,356360,80560,275800,22.61,77.39,532050,197579,37.14
35,San Benito,37357,7808,9212,13167,4980,1476,453,261,20.9,...,97.21,80760,15385,2223,13162,14.45,85.55,17440,6356,36.44
36,San Bernardino,1313298,273160,344417,436051,168511,66158,15271,9730,20.8,...,96.16,57156,563629,145518,418111,25.82,74.18,623642,247860,39.74
37,San Diego,2197045,292200,408582,675349,505483,209580,60233,45618,13.3,...,97.68,70588,717966,122470,595496,17.06,82.94,1111739,455975,41.01
38,San Francisco,683074,82618,84072,135318,228294,100265,33789,18718,12.1,...,97.91,96265,113976,12958,101018,11.37,88.63,358772,122617,34.18
39,San Joaquin,450857,97190,123399,148765,55477,17720,5374,2932,21.56,...,95.81,57813,197107,45453,151654,23.06,76.94,223808,84287,37.66
40,San Luis Obispo,185803,17708,36805,68113,39299,15447,4622,3809,9.53,...,98.36,67175,49899,6436,43463,12.9,87.1,105044,38842,36.98
41,San Mateo,544336,60194,84393,135551,153522,71057,21924,17695,11.06,...,98.01,105667,160245,13993,146252,8.73,91.27,261796,92830,35.46
42,Santa Barbara,272818,53365,47512,81177,54031,23123,7370,6240,19.56,...,97.29,68023,97380,18861,78519,19.37,80.63,144015,57105,39.65
43,Santa Clara,1310623,163160,193771,298091,351778,220693,35568,47562,12.45,...,97.84,106761,430181,41877,388304,9.73,90.27,630451,216166,34.29
44,Santa Cruz,177627,24138,27591,55291,41971,18611,5156,4869,13.59,...,98.35,73663,53336,9043,44293,16.95,83.05,95536,38947,40.77
45,Shasta,125093,11656,32185,54537,17495,6099,2400,721,9.32,...,96.79,47258,37884,9623,28261,25.4,74.6,70486,25344,35.96
46,Sierra,2313,164,588,1066,344,114,20,17,7.09,...,100,44190,426,45,381,10.56,89.44,1208,288,23.84
47,Siskiyou,31749,3393,7966,13186,4777,1720,524,183,10.69,...,99.34,40884,8589,2286,6303,26.62,73.38,19018,6081,31.97
48,Solano,295232,36652,68760,114343,52721,15710,4602,2444,12.41,...,97.5,72950,97280,16134,81146,16.59,83.41,147352,54348,36.88
49,Sonoma,355303,43758,68000,123283,77016,28192,9981,5073,12.32,...,97.33,71769,99993,13050,86943,13.05,86.95,190058,70853,37.28
50,Stanislaus,336086,74765,94817,110302,38138,11704,4612,1748,22.25,...,97.39,54260,143605,33315,110290,23.2,76.8,171324,62823,36.67
51,Sutter,61768,13186,15390,22375,7398,2344,817,258,21.35,...,97.51,54347,24734,5770,18964,23.33,76.67,32188,10885,33.82
52,Tehama,43113,6882,13966,16070,4202,1350,521,122,15.96,...,99.28,42512,14674,4536,10138,30.91,69.09,23712,8736,36.84
53,Trinity,10098,1033,3219,3880,1556,306,52,52,10.23,...,96.32,36563,2131,522,1609,24.5,75.5,5462,1942,35.55
54,Tulare,266582,83599,68866,77226,24752,8504,2505,1130,31.36,...,95.94,44871,141523,51213,90310,36.19,63.81,135144,51544,38.14
55,Tuolumne,40935,3799,11949,16767,5362,2045,717,296,9.28,...,97.44,54325,8948,1235,7713,13.8,86.2,22267,6850,30.76
56,Ventura,562386,90044,106376,182707,114671,46109,13277,9202,16.01,...,96.87,81972,199163,28666,170497,14.39,85.61,270046,104682,38.76
57,Yolo,124232,17242,23432,33153,25761,13161,4996,6487,13.88,...,98.65,61621,44818,7315,37503,16.32,83.68,72845,26136,35.88
58,Yuba,46582,8316,11443,19195,5573,1565,406,84,17.85,...,97.24,51776,20380,5088,15292,24.97,75.03,25880,9454,36.53

In [21]:
# tbd - import zips dictionary
for county_key in cademog_filtered['county_name']:
    print (county_key)
    # zips[county_key]
    # df = df.append({'A': i}, ignore_index=True)
    cademog_filtered = cademog_filtered.append({'zip' : zips[county_key]}, ignore_index=True)

Geo_NAME
Alameda
Alpine
Amador
Butte
Calaveras
Colusa
Contra Costa
Del Norte
El Dorado
Fresno
Glenn
Humboldt
Imperial
Inyo
Kern
Kings
Lake
Lassen
Los Angeles
Madera
Marin
Mariposa
Mendocino
Merced
Modoc
Mono
Monterey
Napa
Nevada
Orange
Placer
Plumas
Riverside
Sacramento
San Benito
San Bernardino
San Diego
San Francisco
San Joaquin
San Luis Obispo
San Mateo
Santa Barbara
Santa Clara
Santa Cruz
Shasta
Sierra
Siskiyou
Solano
Sonoma
Stanislaus
Sutter
Tehama
Trinity
Tulare
Tuolumne
Ventura
Yolo
Yuba

In [19]:
# merge zip codes to cademog_filtered
#zips_cademog = pd.merge(zips_ca, cademog_filtered, on='county_name')

In [20]:
print(zips_cademog)

NameError: name 'zips_cademog' is not defined

In [ ]:
zips_cademog.shape

In [ ]:
zips_cademog.to_csv(r'/Users/susanlieu/Documents/practicum/zips_cademog.csv')

In [ ]:
print(zips_cademog)

In [ ]:
print()